includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
	customRulesetUsed: true
	errorFormat: extractor
	paths:
		- repo/src

rules:
	- IdentifierExtractor\Rule

services:
	errorFormatter.extractor:
		class: IdentifierExtractor\ErrorFormatter
		arguments:
			relativePathHelper: @simpleRelativePathHelper

	-
		class: IdentifierExtractor\RuleErrorBuilderCollector
		tags:
			- phpstan.collector

	-
		class: IdentifierExtractor\ErrorWithIdentifierCollector
		tags:
			- phpstan.collector

	-
		class: IdentifierExtractor\RuleConstructorParameterCollector
		tags:
			- phpstan.collector
