includes:
	- phpstan.neon

parameters:
	ignoreErrors:
		- '#has unknown class ReflectionClassConstant as its type#'
		- '#has invalid typehint type ReflectionClassConstant#'
		- '#Call to an undefined method ReflectionClass::getReflectionConstant#'
