parameters:
	excludes_analyse:
		- %rootDir%/tests/*/data/*
services:
	-
		class: PHPStan\Reflection\PhpParser\PhpParserNameClassReflectionExtension
		tags:
			- phpstan.broker.propertiesClassReflectionExtension
