---
layout: null
permalink: "/cm6-test.html"
---

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"></head>
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<div id="cm6"></div>
<script src="/tmp/js/cm6-test.ts" type="module"></script>
</body>

</html>
