---
title: PHPStan 1.0 Merchandise Sale Privacy Policy
pageType: merch
permalink: "/merch-privacy-policy.html"
---

{% extends "./_layouts/_base.njk" %}

{% block scripts %}
	<script src="/tmp/js/merch-privacy-policy.ts" type="module"></script>
{% endblock %}

{% block content %}

<nav class="flex mt-24" aria-label="Breadcrumb">
  <ol role="list" class="flex items-center space-x-4">
    <li>
      <div class="flex items-center">
        <a href="/merch" class="text-sm font-medium text-gray-500 hover:text-gray-700">Merchandise Sale</a>
      </div>
    </li>

    <li>
      <div class="flex items-center">
        <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
        <a href="/merch-privacy-policy" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">Privacy Policy</a>
      </div>
    </li>
  </ol>
</nav>

<div class="content">

<h1>Privacy Policy for PHPStan 1.0 Merchandise Sale</h1>

<p>At PHPStan's website, accessible from https://phpstan.org/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by PHPStan's website and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us at <a href="mailto:merch@phpstan.com">merch@phpstan.com</a>.</p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect on PHPStan's website. This policy is not applicable to any information collected offline or via channels other than this website.</p>

<h2>Consent</h2>

<p>By completing the order, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>Information we collect</h2>

<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>If you contact us directly, we may receive additional information about you such as the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
<p>When you order the merchandise offered at https://phpstan.org/merch, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>

<h2>How we use your information</h2>

<p>We use the information we collect to:</p>

<ul>
<li>Fill the order of the goods you purchased</li>
<li>Communicate with you directly through email about your order</li>
<li>Find and prevent fraud</li>
</ul>

<p>Your information WILL NOT be:</p>

<ul>
<li>Used to send you marketing messages</li>
<li>Shared with third parties, except for third parties that are necessary to fill the order:
    <ul>
        <li>Stripe (payment processor)</li>
        <li>Zásilkovna or Česká pošta (delivery company)</li>
        <li>Fakturoid (invoice generator)</li>
        <li>Google Sheets (data store)</li>
        <li>Postmark (email delivery)</li>
        <li>Sentry (error logging)</li>
    </ul>
</li>
</ul>


<h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>GDPR Data Protection Rights</h2>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

</div>

{% endblock %}
