---
permalink: /sitemap.xml
sitemapIgnore: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all %}
	{% if item.data.sitemapIgnore !== true %}
		<url>
			<loc>https://phpstan.org{% if item.filePathStem === '/index'%}/{% else %}{{ item.url | trimDotHtml }}{% endif %}</loc>
		</url>
	{% endif %}
{% endfor %}
</urlset>
