---
permalink: /sponsor.html
title: Sponsor PHPStan
pageType: sponsor
---

{% extends "./_layouts/_base.njk" %}

{% block scripts %}
	<script src="/tmp/js/sponsor.ts" type="module"></script>
{% endblock %}

{% block bgColor %}background-color: rgb(249, 250, 251){% endblock %}

{% block content %}

<div class="px-6 mt-24 sm:mt-32 lg:px-8">
	<div class="mx-auto max-w-3xl text-center">
		<p class="text-lg font-semibold leading-7 text-indigo-600">PHPStan finds bugs in your code without writing tests</p>
		<h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">It’s open-source and&nbsp;free</h2>
	</div>
</div>

<div class="px-6 mt-24 lg:px-8">
	<div class="mx-auto max-w-2xl text-base">
		<div class="flex items-center">
			<div class="hidden md:block px-5 shrink-0">
				<img class="rounded-full w-40" src="/tmp/images/ondrejmirtes.jpg">
			</div>
			<div class="px-5 text-slate-900">
				<p class="mb-4">Hi!</p>
				<p class="mb-4">I’m Ondřej. I like pointing out mistakes in other people’s code so much that I created PHPStan, a popular static analysis tool that focuses on finding bugs in PHP code without running it.</p>
				<p class="mb-4">PHPStan’s development is my full-time job and I love every minute of it! I’m in it for the long run and I have no plans of stopping.</p>
				<p class="mb-4">What does it mean to be a full-time open-source developer? It’s not just writing code:</p>
			</div>
		</div>
		<ul class="px-10 md:px-0 list-disc mt-8 mb-16 text-sm text-slate-700 mx-auto max-w-lg">
			<li class="mb-2">Maintenance and development of PHPStan. Coming up with new features, evaluating them, and integrating them in a useful way. Fixing bugs. Implementing support for new PHP versions that come out every year.</li>
			<li class="mb-2">Reviewing and finishing pull requests from other contributors.</li>
			<li class="mb-2">Maintenance and development of 1<sup>st</sup> party <a class="underline hover:no-underline" href="https://github.com/orgs/phpstan/repositories?type=all">PHPStan extensions</a>.</li>
			<li class="mb-2">Writing documentation, maintenance of this website and the on-line playground.</li>
			<li class="mb-2">Responding to issues and support questions on GitHub and other places.</li>
			<li class="mb-2">Marketing and social media presence. My work would go in vain if no one knew about it!</li>
		</ul>
		<div class="mt-12 text-slate-900">
			<p class="mb-4">Many individual developers, teams both small and large, even the largest companies in the world rely on PHPStan to catch bugs before they reach production and to keep an eye on quality of their code. PHPStan is also the backbone of other popular open-source projects like Rector.</p>
			<p class="mb-4">Do you enjoy using PHPStan? Is it indispensable in your everyday work? I’d be eternally grateful if you could contribute to making sure I can do this work I love indefinitely.</p>
		</div>
		<h3 class="mt-20 text-xl font-bold tracking-tight text-gray-900 sm:text-2xl">GitHub Sponsors</h3>
		<div class="mt-4 text-slate-900">
			<p class="mb-4">This is a great option if you’re already paying for GitHub itself. PHPStan sponsorship is going to be just another item on your GitHub bill.</p>
			<p class="mb-4">As a reward, your username will be in <a class="underline hover:no-underline" href="https://github.com/phpstan/phpstan/blob/1.12.x/BACKERS.md">BACKERS.md</a> file. With the $110 tier, your logo will be placed in the <a class="underline hover:no-underline" href="https://github.com/phpstan/phpstan">README</a> and on PHPStan website’s <a class="underline hover:no-underline" href="/">homepage</a>.</p>
			<div class="flex items-center justify-center mt-8 gap-x-10">
				<a class="flex items-center bg-white border-slate-900 border rounded-lg py-2 px-5" href="https://github.com/sponsors/ondrejmirtes">
					<div>
						<svg class="h-12 w-12" fill="currentColor" viewBox="0 0 24 24">
							<path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"/>
						</svg>
					</div>
					<div class="pl-3">ondrejmirtes</div>
				</a>
				<a class="flex items-center bg-white border-slate-900 border rounded-lg py-2 px-5" href="https://github.com/sponsors/phpstan">
					<div>
						<svg class="h-12 w-12" fill="currentColor" viewBox="0 0 24 24">
							<path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"/>
						</svg>
					</div>
					<div class="pl-3">phpstan</div>
				</a>
			</div>
		</div>

		<h3 class="mt-20 text-xl font-bold tracking-tight text-gray-900 sm:text-2xl">PHPStan Pro</h3>
		<div class="mt-4 text-slate-900">
			<p class="mb-4">PHPStan in a <a href="/blog/introducing-phpstan-pro" class="underline hover:no-underline">premium package with extra features</a>.</p>
			<p class="mb-4">Beautiful web UI instead of CLI to browse your errors, auto-refresh with continuous analysis in the background. Monthly and annual subscriptions for individuals and teams.</p>

			<div class="flex items-center justify-center mt-8 gap-x-10">
				<a class="flex items-center bg-white border-slate-900 border rounded-lg py-2 px-5" href="https://account.phpstan.com/register">
					<div>
						<img class="block h-12 w-auto rounded-lg" src="/tmp/images/logo.png" alt="PHPStan" />
					</div>
					<div class="pl-3">Subscribe to PHPStan Pro</div>
				</a>
			</div>

		</div>

		<p class="text-center text-sm text-slate-700 mx-auto max-w-lg mt-12 mb-12">Please contact me with any questions: <a class="underline hover:no-underline"href="mailto:sponsor@phpstan.org">sponsor@phpstan.org</a></p>
	</div>
</div>

{% include './_includes/footer.njk' %}

{% endblock %}
