includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: max

    bootstrapFiles:
        - config/bootstrap.php

    paths:
        - packages

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true
