<phpunit
	bootstrap="bootstrap.php"
	colors="true"
	backupGlobals="false"
	backupStaticAttributes="false"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutTodoAnnotatedTests="true"
	failOnRisky="true"
	failOnWarning="true"
>
	<filter>
		<whitelist>
			<directory suffix=".php">../src</directory>
		</whitelist>
	</filter>
	<logging>
		<log
			type="coverage-text"
			target="php://stdout"
			showUncoveredFiles="true"
			showOnlySummary="true"
		/>
		<log type="coverage-clover" target="tmp/clover.xml"/>
	</logging>
</phpunit>
