includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- baseline.neon

conditionalTags:
	PhpParser\NodeVisitor\NodeConnectingVisitor:
		phpstan.parser.richParserNodeVisitor: true

parameters:
	paths:
		- src
	level: 8

rules:
	- NodeConnectingRule\Rule
