parameters:
	ignoreErrors:
		-
			message: "#^Calling PHPStan\\\\Analyser\\\\Analyser\\:\\:analyse\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 1
			path: bref.php

		-
			message: "#^Calling PHPStan\\\\Analyser\\\\AnalyserResult\\:\\:getErrors\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 1
			path: bref.php

		-
			message: "#^Calling PHPStan\\\\Analyser\\\\AnalyserResultFinalizer\\:\\:finalize\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 1
			path: bref.php
