parameters:
	bootstrap: null
	excludes_analyse: []
	autoload_directories: []
	autoload_files: []
	fileExtensions:
		- php
	checkAlwaysTrueCheckTypeFunctionCall: false
	checkAlwaysTrueInstanceof: false
	checkAlwaysTrueStrictComparison: false
	checkClassCaseSensitivity: false
	checkFunctionArgumentTypes: false
	checkFunctionNameCase: false
	checkArgumentsPassedByReference: false
	checkMaybeUndefinedVariables: false
	checkNullables: false
	checkThisOnly: true
	checkUnionTypes: false
	reportMaybes: false
	polluteScopeWithLoopInitialAssignments: true
	polluteCatchScopeWithTryAssignments: false
	reportMagicMethods: false
	reportMagicProperties: false
	ignoreErrors: []
	internalErrorsCountLimit: 50
	reportUnmatchedIgnoredErrors: true
	scopeClass: PHPStan\Analyser\Scope
	universalObjectCratesClasses:
		- stdClass
		- SimpleXMLElement
	earlyTerminatingMethodCalls: []
	memoryLimitFile: %tmpDir%/.memory_limit
	dynamicConstantNames:
		- ICONV_IMPL
		- PHP_VERSION
		- PHP_EXTRA_VERSION
		- PHP_OS
		- PHP_OS_FAMILY
		- PHP_SAPI
		- DEFAULT_INCLUDE_PATH
		- PEAR_INSTALL_DIR
		- PEAR_EXTENSION_DIR
		- PHP_EXTENSION_DIR
		- PHP_PREFIX
		- PHP_BINDIR
		- PHP_BINARY
		- PHP_MANDIR
		- PHP_LIBDIR
		- PHP_DATADIR
		- PHP_SYSCONFDIR
		- PHP_LOCALSTATEDIR
		- PHP_CONFIG_FILE_PATH
		- PHP_CONFIG_FILE_SCAN_DIR
		- PHP_SHLIB_SUFFIX
		- PHP_FD_SETSIZE
		- PHP_MAJOR_VERSION
		- PHP_MINOR_VERSION
		- PHP_RELEASE_VERSION
		- PHP_VERSION_ID
		- PHP_ZTS
		- PHP_DEBUG
		- PHP_MAXPATHLEN

extensions:
	rules: PHPStan\DependencyInjection\RulesExtension

services:
	-
		class: PhpParser\BuilderFactory

	-
		class: PhpParser\Lexer

	-
		class: PhpParser\NodeTraverser
		setup:
			- addVisitor(@PhpParser\NodeVisitor\NameResolver)

	-
		class: PhpParser\NodeVisitor\NameResolver

	-
		class: PhpParser\Parser\Php7

	-
		class: PhpParser\PrettyPrinter\Standard

	-
		class: PHPStan\Broker\AnonymousClassNameHelper

	-
		class: PHPStan\PhpDocParser\Lexer\Lexer

	-
		class: PHPStan\PhpDocParser\Parser\TypeParser

	-
		class: PHPStan\PhpDocParser\Parser\ConstExprParser

	-
		class: PHPStan\PhpDocParser\Parser\PhpDocParser

	-
		class: PHPStan\PhpDoc\PhpDocNodeResolver

	-
		class: PHPStan\PhpDoc\PhpDocStringResolver

	-
		class: PHPStan\PhpDoc\TypeNodeResolver
		factory: @typeNodeResolverFactory::create

	-
		class: PHPStan\PhpDoc\PhpUnit\MockObjectTypeNodeResolverExtension
		tags:
			- phpstan.phpDoc.typeNodeResolverExtension

	-
		class: PHPStan\PhpDoc\TypeStringResolver

	-
		class: PHPStan\Analyser\Analyser
		arguments:
			ignoreErrors: %ignoreErrors%
			reportUnmatchedIgnoredErrors: %reportUnmatchedIgnoredErrors%
			internalErrorsCountLimit: %internalErrorsCountLimit%

	-
		class: PHPStan\Analyser\ScopeFactory
		arguments:
			scopeClass: %scopeClass%
			dynamicConstantNames: %dynamicConstantNames%

	-
		class: PHPStan\Analyser\NodeScopeResolver
		arguments:
			polluteScopeWithLoopInitialAssignments: %polluteScopeWithLoopInitialAssignments%
			polluteCatchScopeWithTryAssignments: %polluteCatchScopeWithTryAssignments%
			earlyTerminatingMethodCalls: %earlyTerminatingMethodCalls%

	-
		class: PHPStan\Cache\Cache
		arguments:
			storage: @cacheStorage

	-
		class: PHPStan\Command\AnalyseApplication
		arguments:
			memoryLimitFile: %memoryLimitFile%
			currentWorkingDirectory: %currentWorkingDirectory%

	-
		class: PHPStan\File\FileHelper
		arguments:
			workingDirectory: %currentWorkingDirectory%

	-
		class: PHPStan\File\FileExcluder
		arguments:
			analyseExcludes: %excludes_analyse%

	-
		class: PHPStan\Parser\CachedParser
		arguments:
			originalParser: @directParser

	-
		class: PHPStan\Parser\FunctionCallStatementFinder

	-
		implement: PHPStan\Reflection\FunctionReflectionFactory

	-
		class: PHPStan\Reflection\Annotations\AnnotationsMethodsClassReflectionExtension

	-
		class: PHPStan\Reflection\Annotations\AnnotationsPropertiesClassReflectionExtension

	-
		class: PHPStan\Reflection\Php\PhpClassReflectionExtension

	-
		class: PHPStan\Reflection\PhpDefect\PhpDefectClassReflectionExtension

	-
		implement: PHPStan\Reflection\Php\PhpMethodReflectionFactory

	-
		class: PHPStan\Reflection\Php\UniversalObjectCratesClassReflectionExtension
		tags:
			- phpstan.broker.propertiesClassReflectionExtension
		arguments:
			classes: %universalObjectCratesClasses%

	-
		class: PHPStan\Reflection\SignatureMap\SignatureMapParser

	-
		class: PHPStan\Reflection\SignatureMap\SignatureMapProvider

	-
		class: PHPStan\Rules\ClassCaseSensitivityCheck

	-
		class: PHPStan\Rules\Comparison\ConstantConditionRuleHelper

	-
		class: PHPStan\Rules\Comparison\ImpossibleCheckTypeHelper

	-
		class: PHPStan\Rules\FunctionCallParametersCheck
		arguments:
			checkArgumentTypes: %checkFunctionArgumentTypes%
			checkArgumentsPassedByReference: %checkArgumentsPassedByReference%

	-
		class: PHPStan\Rules\FunctionDefinitionCheck
		arguments:
			checkClassCaseSensitivity: %checkClassCaseSensitivity%
			checkThisOnly: %checkThisOnly%

	-
		class: PHPStan\Rules\FunctionReturnTypeCheck

	-
		class: PHPStan\Rules\Properties\PropertyDescriptor

	-
		class: PHPStan\Rules\Properties\PropertyReflectionFinder

	-
		class: PHPStan\Rules\RegistryFactory

	-
		class: PHPStan\Rules\RuleLevelHelper
		arguments:
			checkNullables: %checkNullables%
			checkThisOnly: %checkThisOnly%
			checkUnionTypes: %checkUnionTypes%

	-
		class: PHPStan\Rules\UnusedFunctionParametersCheck

	-
		class: PHPStan\Type\FileTypeMapper

	-
		class: PHPStan\Type\Php\ArgumentBasedFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayFillFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayFillKeysFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayFilterFunctionReturnTypeReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayKeyExistsFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\ArrayKeyFirstDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayKeyLastDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayKeysFunctionDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayMapFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayMergeFunctionDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayPopFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayReduceFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayShiftFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArraySearchFunctionDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayValuesFunctionDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\CountFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\CurlInitReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\DioStatDynamicFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ExplodeFunctionDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\GetParentClassDynamicFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\GettimeofdayDynamicFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\StatDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: PHPStan\Type\Php\MethodExistsTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\PropertyExistsTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\MinMaxFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\PathinfoFunctionDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ReplaceFunctionsDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\ArrayPointerFunctionsDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\VarExportFunctionDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\MbStrlenFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\MicrotimeFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\VersionCompareFunctionDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\StrtotimeFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\RangeFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\AssertFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\DefineConstantTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\DefinedConstantTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\InArrayFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsIntFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsFloatFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsNullFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsArrayFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsBoolFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsCallableFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsCountableFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsResourceFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsIterableFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsStringFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsSubclassOfFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsObjectFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsNumericFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsScalarFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\IsAFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	-
		class: PHPStan\Type\Php\JsonThrowOnErrorDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\TypeSpecifyingFunctionsDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	-
		class: PHPStan\Type\Php\StrSplitFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension

	typeSpecifier:
		class: PHPStan\Analyser\TypeSpecifier
		factory: @typeSpecifierFactory::create

	typeSpecifierFactory:
		class: PHPStan\Analyser\TypeSpecifierFactory

	relativePathHelper:
		class: PHPStan\File\RelativePathHelper
		dynamic: true

	broker:
		class: PHPStan\Broker\Broker
		factory: @brokerFactory::create

	brokerFactory:
		class: PHPStan\Broker\BrokerFactory

	cacheStorage:
		class: PHPStan\Cache\FileCacheStorage
		arguments:
			directory: %tmpDir%/cache/PHPStan
		autowired: no

	directParser:
		class: PHPStan\Parser\DirectParser
		autowired: no

	registry:
		class: PHPStan\Rules\Registry
		factory: @PHPStan\Rules\RegistryFactory::create

	typeNodeResolverFactory:
		class: PHPStan\PhpDoc\TypeNodeResolverFactory

	errorFormatter.raw:
		class: PHPStan\Command\ErrorFormatter\RawErrorFormatter

	errorFormatter.table:
		class: PHPStan\Command\ErrorFormatter\TableErrorFormatter

	errorFormatter.checkstyle:
		class: PHPStan\Command\ErrorFormatter\CheckstyleErrorFormatter

	errorFormatter.json:
		class: PHPStan\Command\ErrorFormatter\JsonErrorFormatter
		arguments:
			pretty: false

	errorFormatter.prettyJson:
		class: PHPStan\Command\ErrorFormatter\JsonErrorFormatter
		arguments:
			pretty: true
