includes:
	- config.level3.neon

rules:
	- PHPStan\Rules\Comparison\BooleanAndConstantConditionRule
	- PHPStan\Rules\Comparison\BooleanNotConstantConditionRule
	- PHPStan\Rules\Comparison\BooleanOrConstantConditionRule
	- PHPStan\Rules\Comparison\ElseIfConstantConditionRule
	- PHPStan\Rules\Comparison\IfConstantConditionRule
	- PHPStan\Rules\Comparison\TernaryOperatorConstantConditionRule
	- PHPStan\Rules\Cast\UselessCastRule
	- PHPStan\Rules\Internal\AccessInternalPropertyRule
	- PHPStan\Rules\Internal\AccessInternalStaticPropertyRule
	- PHPStan\Rules\Internal\CallToInternalFunctionRule
	- PHPStan\Rules\Internal\CallToInternalMethodRule
	- PHPStan\Rules\Internal\CallToInternalStaticMethodRule
	- PHPStan\Rules\Internal\FetchingClassConstOfInternalClassRule
	- PHPStan\Rules\Internal\ImplementationOfInternalInterfaceRule
	- PHPStan\Rules\Internal\InheritanceOfInternalClassRule
	- PHPStan\Rules\Internal\InheritanceOfInternalInterfaceRule
	- PHPStan\Rules\Internal\InstantiationOfInternalClassRule
	- PHPStan\Rules\Internal\UsageOfInternalTraitRule

services:
	-
		class: PHPStan\Rules\Classes\ImpossibleInstanceOfRule
		arguments:
			checkAlwaysTrueInstanceof: %checkAlwaysTrueInstanceof%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\ImpossibleCheckTypeFunctionCallRule
		arguments:
			checkAlwaysTrueCheckTypeFunctionCall: %checkAlwaysTrueCheckTypeFunctionCall%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\ImpossibleCheckTypeMethodCallRule
		arguments:
			checkAlwaysTrueCheckTypeFunctionCall: %checkAlwaysTrueCheckTypeFunctionCall%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\ImpossibleCheckTypeStaticMethodCallRule
		arguments:
			checkAlwaysTrueCheckTypeFunctionCall: %checkAlwaysTrueCheckTypeFunctionCall%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\StrictComparisonOfDifferentTypesRule
		arguments:
			checkAlwaysTrueStrictComparison: %checkAlwaysTrueStrictComparison%
		tags:
			- phpstan.rules.rule
