includes:
	- config.level0.neon

services:
	-
		class: PHPStan\Rules\Variables\DefinedVariableRule
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Variables\DefinedVariableInAnonymousFunctionUseRule
		tags:
			- phpstan.rules.rule
