includes:
	- config.level6.neon

parameters:
	checkNullables: true

services:
	-
		class: PHPStan\Rules\Properties\AccessPropertiesOnPossiblyNullRule
		arguments:
			checkThisOnly: %checkThisOnly%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Methods\CallMethodsOnPossiblyNullRule
		arguments:
			checkThisOnly: %checkThisOnly%
		tags:
			- phpstan.rules.rule
