includes:
	- config.level6.neon

parameters:
	checkNullables: true

rules:
	- PHPStan\Rules\Arrays\ArrayDimFetchOnPossiblyNullRule
	- PHPStan\Rules\Arrays\PossiblyNullIterableInForeachRule
	- PHPStan\Rules\Functions\CallCallablesOnPossiblyNullRule
	- PHPStan\Rules\Properties\AccessPropertiesOnPossiblyNullRule
	- PHPStan\Rules\Methods\CallMethodsOnPossiblyNullRule
	- PHPStan\Rules\Variables\VariableCloningOfPossiblyNullRule
