includes:
	- config.level0.neon

parameters:
	checkMaybeUndefinedVariables: true

services:
	-
		factory: PHPStan\Rules\Constants\ConstantRule
		tags:
			- phpstan.rules.rule

	-
		factory: PHPStan\Rules\Variables\VariableCertaintyInIssetRule
		tags:
			- phpstan.rules.rule
