includes:
	- config.level6.neon

parameters:
	checkNullables: true

rules:
	- PHPStan\Rules\Functions\CallCallablesOnPossiblyNullRule
	- PHPStan\Rules\Properties\AccessPropertiesOnPossiblyNullRule
	- PHPStan\Rules\Methods\CallMethodsOnPossiblyNullRule
