includes:
	- config.level3.neon

rules:
	- PHPStan\Rules\Comparison\BooleanAndConstantConditionRule
	- PHPStan\Rules\Comparison\BooleanNotConstantConditionRule
	- PHPStan\Rules\Comparison\BooleanOrConstantConditionRule
	- PHPStan\Rules\Comparison\ElseIfConstantConditionRule
	- PHPStan\Rules\Comparison\IfConstantConditionRule
	- PHPStan\Rules\Comparison\TernaryOperatorConstantConditionRule
	- PHPStan\Rules\Cast\UselessCastRule

services:
	-
		class: PHPStan\Rules\Classes\ImpossibleInstanceOfRule
		arguments:
			checkAlwaysTrueInstanceof: %checkAlwaysTrueInstanceof%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\ImpossibleCheckTypeFunctionCallRule
		arguments:
			checkAlwaysTrueCheckTypeFunctionCall: %checkAlwaysTrueCheckTypeFunctionCall%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\ImpossibleCheckTypeMethodCallRule
		arguments:
			checkAlwaysTrueCheckTypeFunctionCall: %checkAlwaysTrueCheckTypeFunctionCall%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\ImpossibleCheckTypeStaticMethodCallRule
		arguments:
			checkAlwaysTrueCheckTypeFunctionCall: %checkAlwaysTrueCheckTypeFunctionCall%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Comparison\StrictComparisonOfDifferentTypesRule
		arguments:
			checkAlwaysTrueStrictComparison: %checkAlwaysTrueStrictComparison%
		tags:
			- phpstan.rules.rule
