parameters:
	bootstrap: null
	excludes_analyse: []
	autoload_directories: []
	autoload_files: []
	checkFunctionArgumentTypes: false
	enableUnionTypes: false
	polluteScopeWithLoopInitialAssignments: false
	polluteCatchScopeWithTryAssignments: false
	defineVariablesWithoutDefaultBranch: false
	ignoreErrors: []
	universalObjectCratesClasses:
		- stdClass
		- SimpleXMLElement
	earlyTerminatingMethodCalls: []
	memoryLimitFile: %tmpDir%/.memory_limit

services:
	-
		class: Nette\Caching\Cache
		arguments:
			storage: @cachingStorage
			namespace: PHPStan

	-
		class: PhpParser\Lexer

	-
		class: PhpParser\NodeTraverser
		setup:
			- addVisitor(@PhpParser\NodeVisitor\NameResolver)

	-
		class: PhpParser\NodeVisitor\NameResolver

	-
		class: PhpParser\Parser\Php7

	-
		class: PhpParser\PrettyPrinter\Standard

	-
		class: PHPStan\Analyser\Analyser
		arguments:
			ignoreErrors: %ignoreErrors%
			bootstrapFile: %bootstrap%

	-
		class: PHPStan\Analyser\NodeScopeResolver
		arguments:
			polluteScopeWithLoopInitialAssignments: %polluteScopeWithLoopInitialAssignments%
			polluteCatchScopeWithTryAssignments: %polluteCatchScopeWithTryAssignments%
			defineVariablesWithoutDefaultBranch: %defineVariablesWithoutDefaultBranch%
			earlyTerminatingMethodCalls: %earlyTerminatingMethodCalls%

	-
		class: PHPStan\Analyser\TypeSpecifier

	-
		class: PHPStan\Broker\BrokerFactory

	-
		class: PHPStan\Command\AnalyseApplication
		arguments:
			memoryLimitFile: %memoryLimitFile%

	-
		class: PHPStan\File\FileHelper
		arguments:
			workingDirectory: %currentWorkingDirectory%

	-
		class: PHPStan\File\FileExcluder
		arguments:
			analyseExcludes: %excludes_analyse%

	-
		class: PHPStan\Parser\CachedParser
		arguments:
			originalParser: @directParser

	-
		class: PHPStan\Parser\FunctionCallStatementFinder

	-
		implement: PHPStan\Reflection\FunctionReflectionFactory

	-
		class: PHPStan\Reflection\Annotations\AnnotationsPropertiesClassReflectionExtension

	-
		class: PHPStan\Reflection\Php\PhpClassReflectionExtension

	-
		class: PHPStan\Reflection\PhpDefect\PhpDefectClassReflectionExtension

	-
		implement: PHPStan\Reflection\Php\PhpMethodReflectionFactory

	-
		class: PHPStan\Reflection\Php\UniversalObjectCratesClassReflectionExtension
		tags:
			- phpstan.broker.propertiesClassReflectionExtension
		arguments:
			classes: %universalObjectCratesClasses%

	-
		class: PHPStan\Rules\FunctionCallParametersCheck
		arguments:
			checkArgumentTypes: %checkFunctionArgumentTypes%

	-
		class: PHPStan\Rules\FunctionDefinitionCheck

	-
		class: PHPStan\Rules\FunctionReturnTypeCheck

	-
		class: PHPStan\Rules\RegistryFactory

	-
		class: PHPStan\Rules\RuleLevelHelper

	-
		class: PHPStan\Rules\UnusedFunctionParametersCheck

	-
		class: PHPStan\Type\FileTypeMapper
		arguments:
			enableUnionTypes: %enableUnionTypes%

	broker:
		class: PHPStan\Broker\Broker
		factory: @PHPStan\Broker\BrokerFactory::create

	cachingStorage:
		class: Nette\Caching\Storages\FileStorage
		arguments:
			dir: %rootDir%/tmp/cache
		autowired: no

	directParser:
		class: PHPStan\Parser\DirectParser
		autowired: no

	registry:
		class: PHPStan\Rules\Registry
		factory: @PHPStan\Rules\RegistryFactory::create
