parameters:
	customRulesetUsed: false

rules:
	- PHPStan\Rules\Arrays\DuplicateKeysInLiteralArraysRule
	- PHPStan\Rules\Classes\ClassConstantRule
	- PHPStan\Rules\Classes\ExistingClassesInClassImplementsRule
	- PHPStan\Rules\Classes\ExistingClassesInInterfaceExtendsRule
	- PHPStan\Rules\Classes\ExistingClassInClassExtendsRule
	- PHPStan\Rules\Classes\ExistingClassInTraitUseRule
	- PHPStan\Rules\Classes\InstantiationRule
	- PHPStan\Rules\Classes\RequireParentConstructCallRule
	- PHPStan\Rules\Classes\UnusedConstructorParametersRule
	- PHPStan\Rules\Exceptions\CaughtExceptionExistenceRule
	- PHPStan\Rules\Functions\CallToFunctionParametersRule
	- PHPStan\Rules\Functions\CallToNonExistentFunctionRule
	- PHPStan\Rules\Functions\ExistingClassesInClosureTypehintsRule
	- PHPStan\Rules\Functions\ExistingClassesInTypehintsRule
	- PHPStan\Rules\Functions\InnerFunctionRule
	- PHPStan\Rules\Functions\NonExistentDefinedFunctionRule
	- PHPStan\Rules\Functions\PrintfParametersRule
	- PHPStan\Rules\Functions\UnusedClosureUsesRule
	- PHPStan\Rules\Methods\CallMethodsRule
	- PHPStan\Rules\Methods\CallStaticMethodsRule
	- PHPStan\Rules\Methods\ExistingClassesInTypehintsRule
	- PHPStan\Rules\Namespaces\ExistingNamesInGroupUseRule
	- PHPStan\Rules\Namespaces\ExistingNamesInUseRule
	- PHPStan\Rules\Properties\AccessPropertiesRule
	- PHPStan\Rules\Properties\AccessStaticPropertiesRule
	- PHPStan\Rules\Variables\ThisVariableRule

services:
	-
		class: PHPStan\Rules\Classes\ExistingClassInInstanceOfRule
		tags:
			- phpstan.rules.rule
		arguments:
			checkClassCaseSensitivity: %checkClassCaseSensitivity%

	-
		class: PHPStan\Rules\Properties\ExistingClassesInPropertiesRule
		tags:
			- phpstan.rules.rule
		arguments:
			checkClassCaseSensitivity: %checkClassCaseSensitivity%

	-
		class: PHPStan\Rules\Properties\WritingToReadOnlyPropertiesRule
		arguments:
			checkThisOnly: %checkThisOnly%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Properties\ReadingWriteOnlyPropertiesRule
		arguments:
			checkThisOnly: %checkThisOnly%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Variables\DefinedVariableRule
		arguments:
			cliArgumentsVariablesRegistered: %cliArgumentsVariablesRegistered%
			checkMaybeUndefinedVariables: %checkMaybeUndefinedVariables%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Variables\DefinedVariableInAnonymousFunctionUseRule
		arguments:
			checkMaybeUndefinedVariables: %checkMaybeUndefinedVariables%
		tags:
			- phpstan.rules.rule
