includes:
	- config.level4.neon

parameters:
	checkFunctionArgumentTypes: true
	checkArgumentsPassedByReference: true

services:
	-
		class: PHPStan\Rules\Functions\CallToCountOnlyWithArrayOrCountableRule
		tags:
			- phpstan.rules.rule
