includes:
	- config.level1.neon

parameters:
	checkClassCaseSensitivity: true
	checkThisOnly: false

rules:
	- PHPStan\Rules\Operators\InvalidBinaryOperationRule
	- PHPStan\Rules\PhpDoc\IncompatiblePhpDocTypeRule
	- PHPStan\Rules\PhpDoc\InvalidPhpDocTagValueRule
