includes:
	- config.level1.neon

parameters:
	checkClassCaseSensitivity: true
	checkThisOnly: false

rules:
	- PHPStan\Rules\Cast\InvalidCastRule
	- PHPStan\Rules\Cast\InvalidPartOfEncapsedStringRule
	- PHPStan\Rules\Operators\InvalidBinaryOperationRule
	- PHPStan\Rules\Operators\InvalidUnaryOperationRule
	- PHPStan\Rules\PhpDoc\IncompatiblePhpDocTypeRule
	- PHPStan\Rules\PhpDoc\InvalidPhpDocTagValueRule
	- PHPStan\Rules\PhpDoc\InvalidThrowsPhpDocValueRule

services:
	-
		class: PHPStan\Rules\Functions\CallCallablesRule
		arguments:
			reportMaybes: %reportMaybes%
		tags:
			- phpstan.rules.rule
