includes:
	- config.level2.neon

rules:
	- PHPStan\Rules\Arrays\AppendedArrayItemTypeRule
	- PHPStan\Rules\Arrays\InvalidKeyInArrayDimFetchRule
	- PHPStan\Rules\Arrays\InvalidKeyInArrayItemRule
	- PHPStan\Rules\Functions\ClosureReturnTypeRule
	- PHPStan\Rules\Functions\ReturnTypeRule
	- PHPStan\Rules\Methods\ReturnTypeRule
	- PHPStan\Rules\Properties\DefaultValueTypesAssignedToPropertiesRule
	- PHPStan\Rules\Properties\TypesAssignedToPropertiesRule

services:
	-
		class: PHPStan\Rules\Arrays\IterableInForeachRule
		arguments:
			checkUnionTypes: %checkUnionTypes%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Variables\VariableCloningRule
		arguments:
			checkNullables: %checkNullables%
		tags:
			- phpstan.rules.rule
