<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>{{ title }} | PHPStan</title>
	<meta property="og:title" content="{{ title }}" />
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	<link rel="stylesheet" href="/app.pcss">

	{% if ogImage %}
		<meta property="og:image" content="{{ ogImage }}" />
		<meta name="twitter:image" content="{{ ogImage }}" />
	{% else %}
		<meta property="og:image" content="/images/logo-big.png" />
		<meta name="twitter:image" content="/images/logo-big.png" />
	{% endif %}
	<link rel="icon" type="image/png" href="/images/favicon.png">

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@phpstan" />
	<meta name="twitter:creator" content="@ondrejmirtes" />
</head>
<body>

<div class="h-screen bg-white flex flex-col main-area">
	<nav class="bg-white border-b border-gray-200 flex-shrink z-10">
		<!-- ko with: mainMenu -->
			<div class="max-w-5xl mx-auto px-4 md:px-6">
				<div class="flex justify-between h-16">
					<div class="flex flex-grow">
						<div class="w-64 flex flex-none items-center">
							<a href="/"><img class="block h-12 w-auto rounded-lg" src="/images/logo.png" alt="PHPStan" /></a>
							<h2 class="text-2xl font-semibold leading-tight text-gray-800 ml-4">
								<a href="/">PHPStan</a>
							</h2>
						</div>
						<div class="flex flex-grow justify-between">
							<div class="hidden md:-my-px md:flex px-4 flex-grow">
								<div class="flex flex-shrink md:-my-px">
									{% for item in mainMenu %}
										{% if item.pageType === pageType %}
											<a href="{{ item.link }}" class="mr-8 inline-flex items-center px-1 pt-1 border-b-2 border-blue-500 text-md font-medium leading-5 text-gray-900 focus:outline-none focus:border-blue-700 transition duration-150 ease-in-out">
												<span>{{ item.title }}</span>

												{% if item.pageType === 'pro' %}
													<span class="inline-block bg-indigo-500 rounded text-white ml-2 text-xs px-2 py-1">New!</span>
												{% endif %}
											</a>
										{% else %}
											<a href="{{ item.link }}" class="mr-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-md font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
												<span>{{ item.title }}</span>

												{% if item.pageType === 'pro' %}															<span class="inline-block bg-indigo-500 rounded text-white ml-2 text-xs px-2 py-1">New!</span>
												{% endif %}
											</a>
										{% endif %}
									{% endfor %}
								</div>

								<a target="_blank" href="https://github.com/phpstan/phpstan" class="ml-8 inline-flex flex-grow items-center justify-end px-1 pt-1 border-b-2 border-transparent text-md font-medium leading-5 text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700 transition duration-150 ease-in-out">
									<svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
										<path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"/>
									</svg>
								</a>
							</div>
						</div>
					</div>
					<div class="-mr-2 flex items-center md:hidden">
						<button data-bind="click: toggleMainMenu" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
							<svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
								<path data-bind="css: {hidden: mainMenuOpen, 'inline-flex': !mainMenuOpen()}" class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
								<path data-bind="css: {hidden: !mainMenuOpen(), 'inline-flex': mainMenuOpen}" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
							</svg>
						</button>
					</div>
				</div>
			</div>
			<div data-bind="css: {block: mainMenuOpen, hidden: !mainMenuOpen()}" class="hidden md:hidden">
				<div class="pt-2 pb-3">
					{% for item in mainMenu %}
						{% if item.pageType === pageType %}
							<a href="{{ item.link }}" class="algolia-active mt-1 block pl-3 pr-4 py-2 border-l-4 border-blue-500 text-base font-medium text-blue-700 bg-blue-50 focus:outline-none focus:text-blue-800 focus:bg-blue-100 focus:border-blue-700 transition duration-150 ease-in-out">
								{{ item.title }}
							</a>
						{% else %}
							<a href="{{ item.link }}" class="mt-1 block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out">
								{{ item.title }}
							</a>
						{% endif %}
					{% endfor %}

					<a target="_blank" href="https://github.com/phpstan/phpstan" class="flex items-center mt-1 block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out">
						<span>GitHub</span>
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-4 h-4 ml-1"><path d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
					</a>
				</div>
			</div>
		<!-- /ko -->
	</nav>
	<div class="overflow-y-auto">
		<main>
			<div class="max-w-5xl mx-auto md:px-6">
				{% block content %}{% endblock %}
			</div>
		</main>
	</div>
</div>

{% block scripts %}{% endblock %}

<script>
	(function(f, a, t, h, o, m){
		a[h]=a[h]||function(){
			(a[h].q=a[h].q||[]).push(arguments)
		};
		o=f.createElement('script'),
			m=f.getElementsByTagName('script')[0];
		o.async=1; o.src=t; o.id='fathom-script';
		m.parentNode.insertBefore(o,m)
	})(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
	fathom('set', 'siteId', 'UDESFNRN');
	fathom('trackPageview');
</script>

</body>
</html>
