---
pageType: blog
permalink: "{{ page.filePathStem }}.html"
sectionTitle: Blog
---

{% extends "./_sidebar.njk" %}

{% block editPageLink %}{% endblock %}

{% block scripts %}
	<script src="/js/blog.ts"></script>
{% endblock %}

{% block postDate %}
	<p class="text-sm text-gray-500">{{ date | htmlDateString }} · {{ content | readingTime }}</p>
{% endblock %}
