---
permalink: "{{ page.filePathStem }}.html"
pageType: developingExtensions
---

{% extends "./_sidebar.njk" %}

{% block scripts %}
	<script src="/js/developing-extensions.ts"></script>
{% endblock %}
