{% include './../_includes/header.njk' %}
<body class="w-screen min-h-screen">

{% block content %}{% endblock %}

{% block scripts %}{% endblock %}

{% include './../_includes/analytics.njk' %}

</body>
</html>
