{% extends "./_base.njk" %}

{% block content %}

<div class="flex">
	<div class="sidebar w-64 flex-none hidden sm:block pr-4 border-r border-gray-200 fixed bg-white overflow-y-auto top-0 bottom-0 mt-16 pt-6">
		{% block sidebar %}{% endblock %}
	</div>
	<div class="content px-4 pb-8 pt-4 min-w-0 ml-0 sm:ml-64">
		<h1>{{ title }}</h1>
		{{ content | safe }}
	</div>
</div>

{% endblock %}
