---
permalink: "{{ page.filePathStem }}.html"
pageType: documentation
sectionTitle: Writing PHP Code
---

{% extends "./_sidebar.njk" %}

{% block banner %}
<div class="bg-green-100 border-2 rounded-lg border-green-500 text-green-700 p-4 mt-4 mb-4" role="alert">

<p>Interested in mastering your PHP craft and getting the most out of PHPStan? Ondřej&nbsp;Mirtes (the creator of PHPStan) will  hold a <strong>3-hour interactive workshop</strong> as part of the online Dutch PHP Conference on <strong>June 25th 2020</strong>.</p>

<p>You'll learn how to install, configure, and run PHPStan, receive tips on how to write code so that PHPStan can be as powerful as possible, and you will also be able to write your own PHPStan rules once the workshop is over.</p>

<a target="_blank" class="font-bold" href="https://ibuildings.paydro.com/dutch-php-conference-2020">Buy a ticket and secure your place! »</a>

</div>
{% endblock %}

{% block scripts %}
	<script src="/js/writing-php-code.ts"></script>
{% endblock %}
