parameters:
	ignoreErrors:
		-
			message: "#^Array item has value\\: 1$#"
			count: 1
			path: src/Test.php

		-
			message: "#^Array item has value\\: 2$#"
			count: 1
			path: src/Test.php

		-
			message: "#^Array item has value\\: 3$#"
			count: 1
			path: src/Test.php
