<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="bin/.phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <server name="SYMFONY_PHPUNIT_VERSION" value="8.5" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="symfony/yaml"/>
    </php>

</phpunit>
