parameters:
	ignoreErrors:
		-
			message: "#^Return type \\(Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionEnum\\) of method Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionEnum\\:\\:newInstance\\(\\) should be compatible with return type \\(UnitEnum\\) of method ReflectionClass\\<UnitEnum\\>\\:\\:newInstance\\(\\)$#"
			count: 1
			path: repo/src/Reflection/Adapter/ReflectionEnum.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 'another value…' and never will always evaluate to false\\.$#"
			count: 1
			path: repo/test/unit/SourceLocator/Type/AutoloadSourceLocator/FileReadTrapStreamWrapperTest.php
