parameters:
	ignoreErrors:
		-
			message: '#^Method Bladestan\\TemplateCompiler\\PHPStan\\FileAnalyserProvider\:\:provide\(\) throws checked exception PHPStan\\DependencyInjection\\MissingServiceException but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: repo/src/TemplateCompiler/PHPStan/FileAnalyserProvider.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: repo/src/TemplateCompiler/Rules/TemplateRulesRegistry.php
