parameters:
	ignoreErrors:
		-
			message: "#^Result of method Symfony\\\\Contracts\\\\Translation\\\\LocaleAwareInterface\\:\\:setLocale\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: repo/src/Carbon/Carbon.php

		-
			message: "#^Result of method Symfony\\\\Contracts\\\\Translation\\\\LocaleAwareInterface\\:\\:setLocale\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: repo/src/Carbon/CarbonImmutable.php

		-
			message: "#^Result of method Symfony\\\\Contracts\\\\Translation\\\\LocaleAwareInterface\\:\\:setLocale\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: repo/src/Carbon/CarbonInterval.php

		-
			message: "#^Result of method Symfony\\\\Contracts\\\\Translation\\\\LocaleAwareInterface\\:\\:setLocale\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: repo/src/Carbon/CarbonPeriod.php

		-
			message: "#^Variable \\$date might not be defined\\.$#"
			count: 1
			path: repo/tests/CarbonPeriod/ToArrayTest.php
