parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#3 \\$value of function curl_setopt expects non\\-empty\\-string, string given\\.$#"
			count: 2
			path: repo/src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Parameter \\#3 \\$value of function curl_setopt expects resource, resource\\|false given\\.$#"
			count: 1
			path: repo/src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Property Composer\\\\Util\\\\Http\\\\CurlDownloader\\:\\:\\$jobs \\(array\\<array\\{url\\: string, origin\\: string, attributes\\: array\\{retryAuthFailure\\: bool, redirects\\: int\\<0, max\\>, retries\\: int\\<0, max\\>, storeAuth\\: 'prompt'\\|bool\\}, options\\: array, progress\\: array, curlHandle\\: resource, filename\\: string\\|null, headerHandle\\: resource, \\.\\.\\.\\}\\>\\) does not accept non\\-empty\\-array\\<array\\{url\\: string, origin\\: string, attributes\\: array\\{retryAuthFailure\\: bool, redirects\\: int\\<0, max\\>, retries\\: int\\<0, max\\>, storeAuth\\: 'prompt'\\|bool\\}, options\\: array, progress\\: array, curlHandle\\: CurlHandle\\|resource, filename\\: string\\|null, headerHandle\\: resource, \\.\\.\\.\\}\\>\\.$#"
			count: 1
			path: repo/src/Composer/Util/Http/CurlDownloader.php
