parameters:
	ignoreErrors:
		-
			rawMessage: 'Parameter #1 $input of function array_rand expects non-empty-array, array<array{application_name?: string, charset?: string, dbname?: string, defaultTableOptions?: array<string, mixed>, driver?: ''ibm_db2''|''mysqli''|''oci8''|''pdo_mysql''|''pdo_oci''|''pdo_pgsql''|''pdo_sqlite''|''pdo_sqlsrv''|''pgsql''|''sqlite3''|''sqlsrv'', driverClass?: class-string<Doctrine\DBAL\Driver>, driverOptions?: array<mixed>, host?: string, ...}> given.'
			identifier: argument.type
			count: 1
			path: repo/src/Connections/PrimaryReadReplicaConnection.php

		-
			rawMessage: 'Method Doctrine\DBAL\Driver\IBMDB2\Exception\CannotCopyStreamToStream::new() has parameter $error with no value type specified in unsealed extra keys (...).'
			identifier: missingType.iterableValue
			count: 1
			path: repo/src/Driver/IBMDB2/Exception/CannotCopyStreamToStream.php

		-
			rawMessage: 'Method Doctrine\DBAL\Driver\IBMDB2\Exception\CannotCreateTemporaryFile::new() has parameter $error with no value type specified in unsealed extra keys (...).'
			identifier: missingType.iterableValue
			count: 1
			path: repo/src/Driver/IBMDB2/Exception/CannotCreateTemporaryFile.php

		-
			rawMessage: 'Method Doctrine\DBAL\Driver\IBMDB2\Exception\PrepareFailed::new() has parameter $error with no value type specified in unsealed extra keys (...).'
			identifier: missingType.iterableValue
			count: 1
			path: repo/src/Driver/IBMDB2/Exception/PrepareFailed.php

		-
			rawMessage: 'Offset ''uri'' might not exist on array{timed_out: bool, blocked: bool, eof: bool, unread_bytes: int, stream_type: string, wrapper_type: string, wrapper_data: mixed, mode: string, ...}.'
			identifier: offsetAccess.notFound
			count: 1
			path: repo/src/Driver/IBMDB2/Statement.php

		-
			rawMessage: 'Only booleans are allowed in a ternary operator condition, mixed given.'
			identifier: ternary.condNotBoolean
			count: 1
			path: repo/src/Driver/PDO/SQLSrv/Driver.php

		-
			rawMessage: 'Property Doctrine\DBAL\Driver\PgSQL\Connection::$connection in isset() is not nullable nor uninitialized.'
			identifier: isset.initializedProperty
			count: 1
			path: repo/src/Driver/PgSQL/Connection.php

		-
			rawMessage: 'Property Doctrine\DBAL\Driver\PgSQL\Statement::$connection in isset() is not nullable nor uninitialized.'
			identifier: isset.initializedProperty
			count: 1
			path: repo/src/Driver/PgSQL/Statement.php

		-
			rawMessage: 'Only booleans are allowed in a while condition, bool|null given.'
			identifier: while.condNotBoolean
			count: 1
			path: repo/src/Driver/SQLSrv/Result.php

		-
			rawMessage: 'Offset ''type'' might not exist on array{unique: mixed, autoincrement: mixed, default: mixed, ...<string, mixed>}.'
			identifier: offsetAccess.notFound
			count: 1
			path: repo/src/Platforms/SQLitePlatform.php

		-
			rawMessage: 'Only booleans are allowed in a while condition, int|false given.'
			identifier: while.condNotBoolean
			count: 1
			path: repo/src/Schema/SQLServerSchemaManager.php

		-
			rawMessage: 'Method Doctrine\DBAL\Tools\DsnParser::parse() should return array{application_name?: string, charset?: string, dbname?: string, defaultTableOptions?: array<string, mixed>, driver?: ''ibm_db2''|''mysqli''|''oci8''|''pdo_mysql''|''pdo_oci''|''pdo_pgsql''|''pdo_sqlite''|''pdo_sqlsrv''|''pgsql''|''sqlite3''|''sqlsrv'', driverClass?: class-string<Doctrine\DBAL\Driver>, driverOptions?: array<mixed>, host?: string, ...} but returns array<mixed>.'
			identifier: return.type
			count: 1
			path: repo/src/Tools/DsnParser.php

		-
			rawMessage: 'Only booleans are allowed in a while condition, mixed given.'
			identifier: while.condNotBoolean
			count: 1
			path: repo/tests/Functional/Driver/OCI8/ResultTest.php

		-
			rawMessage: 'Only booleans are allowed in a while condition, array<string, mixed>|false given.'
			identifier: while.condNotBoolean
			count: 2
			path: repo/tests/Functional/PortabilityTest.php

		-
			rawMessage: Assign to $row overwrites the last element from array.
			identifier: assign.byRefForeachExpr
			count: 2
			path: repo/tests/Functional/Query/QueryBuilderTest.php

		-
			rawMessage: Cannot unset property Doctrine\DBAL\Tests\FunctionalTestCase::$connection because it might have hooks in a subclass.
			identifier: unset.possiblyHookedProperty
			count: 1
			path: repo/tests/FunctionalTestCase.php

		-
			rawMessage: 'Method Doctrine\DBAL\Tests\TestUtil::mapConnectionParameters() should return array{application_name?: string, charset?: string, dbname?: string, defaultTableOptions?: array<string, mixed>, driver?: ''ibm_db2''|''mysqli''|''oci8''|''pdo_mysql''|''pdo_oci''|''pdo_pgsql''|''pdo_sqlite''|''pdo_sqlsrv''|''pgsql''|''sqlite3''|''sqlsrv'', driverClass?: class-string<Doctrine\DBAL\Driver>, driverOptions?: array<mixed>, host?: string, ...} but returns array{driver?: mixed, user?: mixed, password?: mixed, host?: mixed, dbname?: mixed, memory?: mixed, port?: mixed, server?: mixed, ...}.'
			identifier: return.type
			count: 1
			path: repo/tests/TestUtil.php
