parameters:
	ignoreErrors:
		-
			rawMessage: 'Parameter #1 $input of function array_rand expects non-empty-array, array<array{application_name?: string, charset?: string, dbname?: string, defaultTableOptions?: array<string, mixed>, driver?: ''ibm_db2''|''mysqli''|''oci8''|''pdo_mysql''|''pdo_oci''|''pdo_pgsql''|''pdo_sqlite''|''pdo_sqlsrv''|''pgsql''|''sqlite3''|''sqlsrv'', driverClass?: class-string<Doctrine\DBAL\Driver>, driverOptions?: array<mixed>, host?: string, ...}> given.'
			identifier: argument.type
			count: 1
			path: repo/src/Connections/PrimaryReadReplicaConnection.php

		-
			rawMessage: 'Offset ''uri'' might not exist on array{timed_out: bool, blocked: bool, eof: bool, unread_bytes: int, stream_type: string, wrapper_type: string, wrapper_data: mixed, mode: string, ...}.'
			identifier: offsetAccess.notFound
			count: 1
			path: repo/src/Driver/IBMDB2/Statement.php

		-
			rawMessage: 'Only booleans are allowed in a ternary operator condition, mixed given.'
			identifier: ternary.condNotBoolean
			count: 1
			path: repo/src/Driver/PDO/SQLSrv/Driver.php

		-
			rawMessage: 'Property Doctrine\DBAL\Driver\PgSQL\Connection::$connection in isset() is not nullable nor uninitialized.'
			identifier: isset.initializedProperty
			count: 1
			path: repo/src/Driver/PgSQL/Connection.php

		-
			rawMessage: 'Property Doctrine\DBAL\Driver\PgSQL\Statement::$connection in isset() is not nullable nor uninitialized.'
			identifier: isset.initializedProperty
			count: 1
			path: repo/src/Driver/PgSQL/Statement.php

		-
			rawMessage: 'Only booleans are allowed in a while condition, bool|null given.'
			identifier: while.condNotBoolean
			count: 1
			path: repo/src/Driver/SQLSrv/Result.php

		-
			rawMessage: 'Only booleans are allowed in a while condition, int|false given.'
			identifier: while.condNotBoolean
			count: 1
			path: repo/src/Schema/SQLServerSchemaManager.php

		-
			rawMessage: 'Only booleans are allowed in a while condition, mixed given.'
			identifier: while.condNotBoolean
			count: 1
			path: repo/tests/Functional/Driver/OCI8/ResultTest.php

		-
			rawMessage: 'Only booleans are allowed in a while condition, array<string, mixed>|false given.'
			identifier: while.condNotBoolean
			count: 2
			path: repo/tests/Functional/PortabilityTest.php

		-
			rawMessage: Assign to $row overwrites the last element from array.
			identifier: assign.byRefForeachExpr
			count: 2
			path: repo/tests/Functional/Query/QueryBuilderTest.php

		-
			rawMessage: Cannot unset property Doctrine\DBAL\Tests\FunctionalTestCase::$connection because it might have hooks in a subclass.
			identifier: unset.possiblyHookedProperty
			count: 1
			path: repo/tests/FunctionalTestCase.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertCount() with 1 and array{Doctrine\DBAL\Schema\Column} will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: repo/tests/Schema/TableTest.php
