parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$alias of static method Doctrine\\\\DBAL\\\\Query\\\\QueryException\\:\\:nonUniqueAlias\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: repo/src/Query/QueryBuilder.php
		-
			message: "#^Parameter \\#1 \\$callback of static method Doctrine\\\\DBAL\\\\Driver\\\\API\\\\SQLite\\\\UserDefinedFunctions\\:\\:register\\(\\) expects callable\\(string, callable\\(\\)\\: mixed, int\\)\\: bool, array\\{PDO, 'sqliteCreateFunction'\\} given\\.$#"
			count: 1
			path: repo/src/Driver/PDO/SQLite/Driver.php
