parameters:
	ignoreErrors:
		-
			message: '#^Method Drupal\\Core\\Entity\\ContentEntityConfirmFormBase\:\:validateForm\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: repo/core/lib/Drupal/Core/Entity/ContentEntityConfirmFormBase.php

		-
			message: '#^Method Drupal\\Core\\Entity\\ContentEntityForm\:\:validateForm\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: repo/core/lib/Drupal/Core/Entity/ContentEntityForm.php

		-
			message: '#^Method Drupal\\Core\\Entity\\FieldableEntityInterface\:\:get\(\) return type with generic interface Drupal\\Core\\Field\\FieldItemListInterface does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: repo/core/lib/Drupal/Core/Entity/FieldableEntityInterface.php

		-
			message: '#^Method Drupal\\Core\\Entity\\FieldableEntityInterface\:\:getFields\(\) return type with generic interface Drupal\\Core\\Field\\FieldItemListInterface does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: repo/core/lib/Drupal/Core/Entity/FieldableEntityInterface.php

		-
			message: '#^Method Drupal\\Core\\Entity\\FieldableEntityInterface\:\:getTranslatableFields\(\) return type with generic interface Drupal\\Core\\Field\\FieldItemListInterface does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: repo/core/lib/Drupal/Core/Entity/FieldableEntityInterface.php

		-
			message: '#^Method Drupal\\Core\\TypedData\\Plugin\\DataType\\ItemList\:\:getIterator\(\) return type with generic class ArrayIterator does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: repo/core/lib/Drupal/Core/TypedData/Plugin/DataType/ItemList.php

		-
			message: '#^Offset ''system_main'' on array\{''\#type''\: ''table'', ''\#header''\: array\{Drupal\\Core\\StringTranslation\\TranslatableMarkup, Drupal\\Core\\StringTranslation\\TranslatableMarkup, Drupal\\Core\\StringTranslation\\TranslatableMarkup, Drupal\\Core\\StringTranslation\\TranslatableMarkup, Drupal\\Core\\StringTranslation\\TranslatableMarkup\}, ''\#attributes''\: array\{id\: ''blocks''\}, ''\#attached''\?\: array\{drupalSettings\: array\{blockPlacement\: bool\|float\|int\|string\|null\}\}\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: repo/core/modules/block/src/BlockListBuilder.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/block_content/tests/src/Functional/BlockContentTypeTest.php

		-
			message: '#^Variable \$trail in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/block_content/tests/src/Functional/BlockContentTypeTest.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/block_content/tests/src/Functional/PageEditTest.php

		-
			message: '#^Variable \$trail in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/block_content/tests/src/Functional/PageEditTest.php

		-
			message: '#^Method Drupal\\contact\\MessageForm\:\:validateForm\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: repo/core/modules/contact/src/MessageForm.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/dblog/tests/src/Functional/DbLogTest.php

		-
			message: '#^Variable \$trail in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/dblog/tests/src/Functional/DbLogTest.php

		-
			message: '#^Variable \$height in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/file/src/Plugin/Validation/Constraint/FileImageDimensionsConstraintValidator.php

		-
			message: '#^\#lazy_builder value ''string'' at key ''0'' is invalid\.$#'
			identifier: renderCallback.invalidKeyValue
			count: 1
			path: repo/core/modules/filter/src/FilterProcessResult.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/help/tests/src/Functional/HelpTopicTest.php

		-
			message: '#^Variable \$trail in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/help/tests/src/Functional/HelpTopicTest.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/language/tests/src/Functional/LanguageBreadcrumbTest.php

		-
			message: '#^Variable \$trail in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/language/tests/src/Functional/LanguageBreadcrumbTest.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/node/tests/src/Functional/NodeTitleTest.php

		-
			message: '#^Variable \$trail in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/node/tests/src/Functional/NodeTitleTest.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/node/tests/src/Functional/NodeTypeTest.php

		-
			message: '#^Variable \$trail in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/node/tests/src/Functional/NodeTypeTest.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/system/tests/src/Functional/Menu/BreadcrumbFrontCacheContextsTest.php

		-
			message: '#^Variable \$trail in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/system/tests/src/Functional/Menu/BreadcrumbFrontCacheContextsTest.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/system/tests/src/Functional/Menu/BreadcrumbTest.php

		-
			message: '#^Variable \$trail in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/system/tests/src/Functional/Menu/BreadcrumbTest.php

		-
			message: '#^Method Drupal\\taxonomy\\Plugin\\views\\argument_default\\Tid\:\:getCacheTags\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: repo/core/modules/taxonomy/src/Plugin/views/argument_default/Tid.php

		-
			message: '#^Method Drupal\\taxonomy\\TermForm\:\:validateForm\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: repo/core/modules/taxonomy/src/TermForm.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/taxonomy/tests/src/Functional/TermTest.php

		-
			message: '#^Variable \$trail in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/taxonomy/tests/src/Functional/TermTest.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/taxonomy/tests/src/Functional/TermTranslationTest.php

		-
			message: '#^Variable \$trail in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: repo/core/modules/taxonomy/tests/src/Functional/TermTranslationTest.php

		-
			message: '#^Cannot unset offset ''\#title'' on array\{''\#theme_wrappers''\: array\{''container''\}, ''\#attributes''\: array\{class\: array\{''scroll''\}, data\-drupal\-views\-scroll\: true\}\}\.$#'
			identifier: unset.offset
			count: 1
			path: repo/core/modules/views_ui/src/Form/Ajax/Display.php
