parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Drupal\\\\Component\\\\Diff\\\\Engine\\\\DiffEngine\\:\\:\\$xchanged\\.$#"
			count: 4
			path: repo/core/lib/Drupal/Component/Diff/Engine/DiffEngine.php

		-
			message: "#^Access to an undefined property Drupal\\\\Component\\\\Diff\\\\Engine\\\\DiffEngine\\:\\:\\$ychanged\\.$#"
			count: 3
			path: repo/core/lib/Drupal/Component/Diff/Engine/DiffEngine.php

		-
			message: "#^\\#lazy_builder callback array\\{'Drupal\\\\\\\\Core\\\\\\\\Access\\\\\\\\RouteProcessorCsrf', 'renderPlaceholderCs…'\\} at key '0' is not callable\\.$#"
			count: 1
			path: repo/core/lib/Drupal/Core/Access/RouteProcessorCsrf.php

		-
			message: "#^Call to method getDefinitions\\(\\) on an unknown class Drupal\\\\Core\\\\Plugin\\\\CategorizingPluginManagerTrait\\.$#"
			count: 1
			path: repo/core/lib/Drupal/Core/Block/BlockManager.php

		-
			message: "#^\\#lazy_builder callback array\\{'Drupal\\\\\\\\Core\\\\\\\\Form\\\\\\\\FormBuilder', 'renderFormTokenPlac…'\\} at key '0' is not callable\\.$#"
			count: 1
			path: repo/core/lib/Drupal/Core/Form/FormBuilder.php

		-
			message: "#^\\#lazy_builder callback array\\{'Drupal\\\\\\\\Core\\\\\\\\Form\\\\\\\\FormBuilder', 'renderPlaceholderFo…'\\} at key '0' is not callable\\.$#"
			count: 1
			path: repo/core/lib/Drupal/Core/Form/FormBuilder.php

		-
			message: "#^\\#lazy_builder callback array\\{'Drupal\\\\\\\\Core\\\\\\\\Access\\\\\\\\RouteProcessorCsrf', 'renderPlaceholderCs…'\\} at key '0' is not callable\\.$#"
			count: 1
			path: repo/core/modules/big_pipe/tests/modules/big_pipe_test/src/BigPipePlaceholderTestCases.php

		-
			message: "#^\\#lazy_builder callback array\\{'Drupal\\\\\\\\Core\\\\\\\\Form\\\\\\\\FormBuilder', 'renderPlaceholderFo…'\\} at key '0' is not callable\\.$#"
			count: 1
			path: repo/core/modules/big_pipe/tests/modules/big_pipe_test/src/BigPipePlaceholderTestCases.php

		-
			message: "#^Undefined variable\\: \\$book_links$#"
			count: 1
			path: repo/core/modules/book/book.module

		-
			message: "#^\\#lazy_builder callback array\\{'Drupal\\\\\\\\comment\\\\\\\\CommentLazyBuilders', 'renderLinks'\\} at key '0' is not callable\\.$#"
			count: 1
			path: repo/core/modules/comment/src/CommentViewBuilder.php

		-
			message: "#^\\#lazy_builder callback array\\{'Drupal\\\\\\\\comment\\\\\\\\CommentLazyBuilders', 'renderForm'\\} at key '0' is not callable\\.$#"
			count: 1
			path: repo/core/modules/comment/src/Plugin/Field/FieldFormatter/CommentDefaultFormatter.php

		-
			message: "#^Call to an undefined static method Drupal\\\\Tests\\\\migrate\\\\Kernel\\\\MigrateTestBase\\:\\:migrateDumpAlter\\(\\)\\.$#"
			count: 1
			path: repo/core/modules/migrate/tests/src/Kernel/MigrateTestBase.php

		-
			message: "#^\\#lazy_builder callback array\\{'Drupal\\\\\\\\shortcut\\\\\\\\ShortcutLazyBuilders', 'lazyLinks'\\} at key '0' is not callable\\.$#"
			count: 1
			path: repo/core/modules/shortcut/shortcut.module

		-
			message: "#^\\#lazy_builder callback array\\{'Drupal\\\\\\\\user\\\\\\\\ToolbarLinkBuilder', 'renderDisplayName'\\} at key '0' is not callable\\.$#"
			count: 1
			path: repo/core/modules/user/user.module

		-
			message: "#^\\#lazy_builder callback array\\{'Drupal\\\\\\\\user\\\\\\\\ToolbarLinkBuilder', 'renderToolbarLinks'\\} at key '0' is not callable\\.$#"
			count: 1
			path: repo/core/modules/user/user.module

		-
			message: "#^Variable \\$rand1 might not be defined\\.$#"
			count: 2
			path: repo/core/modules/views/tests/src/Kernel/Plugin/StyleTest.php

		-
			message: "#^Variable \\$rand2 might not be defined\\.$#"
			count: 2
			path: repo/core/modules/views/tests/src/Kernel/Plugin/StyleTest.php

		-
			message: "#^Variable \\$rand3 might not be defined\\.$#"
			count: 2
			path: repo/core/modules/views/tests/src/Kernel/Plugin/StyleTest.php

		-
			message: "#^\\#lazy_builder callback array\\{'Drupal\\\\\\\\Core\\\\\\\\Access\\\\\\\\RouteProcessorCsrf', 'renderPlaceholderCs…'\\} at key '0' is not callable\\.$#"
			count: 3
			path: repo/core/tests/Drupal/Tests/Core/Access/RouteProcessorCsrfTest.php
