parameters:
	ignoreErrors:
		-
			message: '#^Access to undefined constant Pdo\\Mysql\:\:ATTR_SSL_VERIFY_SERVER_CERT\.$#'
			identifier: classConstant.notFound
			count: 1
			path: repo/src/Illuminate/Database/Schema/MySqlSchemaState.php
