parameters:
	ignoreErrors:
		-
			rawMessage: 'Parameter #3 $options of static method Orchestra\Testbench\Foundation\Application::create() expects array{extra?: array{env?: array, providers?: array<int, class-string>, dont-discover?: array<int, string>, bootstrappers?: array<int, class-string>|class-string|null}, load_environment_variables?: bool, enabled_package_discoveries?: bool}, array{enables_package_discoveries: true, extra: array{env: array, providers: array<int, class-string>, dont-discover: array<int, string>, bootstrappers: array<int, class-string>|class-string|null}} given.'
			identifier: argument.type
			count: 1
			path: repo/src/ApplicationResolver.php

		-
			rawMessage: 'Parameter #3 $options of static method Orchestra\Testbench\Foundation\Application::create() expects array{extra?: array{env?: array, providers?: array<int, class-string>, dont-discover?: array<int, string>, bootstrappers?: array<int, class-string>|class-string|null}, load_environment_variables?: bool, enabled_package_discoveries?: bool}, array{enables_package_discoveries: true} given.'
			identifier: argument.type
			count: 1
			path: repo/src/ApplicationResolver.php
