parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductInterface\\:\\:getCategoryIds\\(\\)\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Call to an undefined method Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductRenderExtensionInterface\\:\\:setDdgBrand\\(\\)\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Call to an undefined method Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductRenderExtensionInterface\\:\\:setDdgCategories\\(\\)\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Call to an undefined method Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductRenderExtensionInterface\\:\\:setDdgDescription\\(\\)\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Call to an undefined method Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductRenderExtensionInterface\\:\\:setDdgImage\\(\\)\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Call to an undefined method Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductRenderExtensionInterface\\:\\:setDdgSku\\(\\)\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Call to method getBrandAttributeByWebsiteId\\(\\) on an unknown class Dotdigitalgroup\\\\Email\\\\Helper\\\\Data\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Call to method getImageType\\(\\) on an unknown class Dotdigitalgroup\\\\Email\\\\Model\\\\Product\\\\ImageType\\\\Context\\\\AbandonedBrowse\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Call to method getImageUrl\\(\\) on an unknown class Dotdigitalgroup\\\\Email\\\\Model\\\\Product\\\\ImageFinder\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Call to method isEnabled\\(\\) on an unknown class Dotdigitalgroup\\\\Email\\\\Helper\\\\Data\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Call to method isWebBehaviourTrackingEnabled\\(\\) on an unknown class Dotdigitalgroup\\\\Email\\\\Helper\\\\Data\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Method Dotdigitalgroup\\\\Email\\\\Ui\\\\DataProvider\\\\WebBehaviourTracking\\:\\:getProductBrand\\(\\) should return string\\|null but return statement is missing\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Parameter \\$helper of method Dotdigitalgroup\\\\Email\\\\Ui\\\\DataProvider\\\\WebBehaviourTracking\\:\\:__construct\\(\\) has invalid type Dotdigitalgroup\\\\Email\\\\Helper\\\\Data\\.$#"
			count: 2
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Parameter \\$imageFinder of method Dotdigitalgroup\\\\Email\\\\Ui\\\\DataProvider\\\\WebBehaviourTracking\\:\\:__construct\\(\\) has invalid type Dotdigitalgroup\\\\Email\\\\Model\\\\Product\\\\ImageFinder\\.$#"
			count: 2
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Parameter \\$imageType of method Dotdigitalgroup\\\\Email\\\\Ui\\\\DataProvider\\\\WebBehaviourTracking\\:\\:__construct\\(\\) has invalid type Dotdigitalgroup\\\\Email\\\\Model\\\\Product\\\\ImageType\\\\Context\\\\AbandonedBrowse\\.$#"
			count: 2
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Property Dotdigitalgroup\\\\Email\\\\Ui\\\\DataProvider\\\\WebBehaviourTracking\\:\\:\\$helper has unknown class Dotdigitalgroup\\\\Email\\\\Helper\\\\Data as its type\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Property Dotdigitalgroup\\\\Email\\\\Ui\\\\DataProvider\\\\WebBehaviourTracking\\:\\:\\$imageFinder has unknown class Dotdigitalgroup\\\\Email\\\\Model\\\\Product\\\\ImageFinder as its type\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Property Dotdigitalgroup\\\\Email\\\\Ui\\\\DataProvider\\\\WebBehaviourTracking\\:\\:\\$imageType has unknown class Dotdigitalgroup\\\\Email\\\\Model\\\\Product\\\\ImageType\\\\Context\\\\AbandonedBrowse as its type\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php

		-
			message: "#^Variable \\$extensionAttributes in PHPDoc tag @var does not exist\\.$#"
			count: 1
			path: repo2/Ui/DataProvider/WebBehaviourTracking.php
