parameters:
	ignoreErrors:
		-
			message: "#^Method Nextras\\\\Orm\\\\Collection\\\\ArrayCollection\\:\\:fetchAll\\(\\) should return list\\<E of Nextras\\\\Orm\\\\Entity\\\\IEntity\\> but returns array\\<int, E of Nextras\\\\Orm\\\\Entity\\\\IEntity\\>\\.$#"
			count: 1
			path: repo/src/Collection/ArrayCollection.php

		-
			message: "#^Parameter \\#1 \\$expr of method Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\ArrayCollectionHelper\\:\\:createFilter\\(\\) expects array\\<int\\<0, max\\>\\|string, mixed\\>, array\\<int\\|string, mixed\\> given\\.$#"
			count: 1
			path: repo/src/Collection/ArrayCollection.php

		-
			message: "#^Method Nextras\\\\Orm\\\\Collection\\\\DbalCollection\\:\\:fetchAll\\(\\) should return list\\<E of Nextras\\\\Orm\\\\Entity\\\\IEntity\\> but returns array\\<int, E of Nextras\\\\Orm\\\\Entity\\\\IEntity\\>\\.$#"
			count: 1
			path: repo/src/Collection/DbalCollection.php

		-
			message: "#^Property Nextras\\\\Orm\\\\Collection\\\\DbalCollection\\<E of Nextras\\\\Orm\\\\Entity\\\\IEntity\\>\\:\\:\\$result \\(list\\<E of Nextras\\\\Orm\\\\Entity\\\\IEntity\\>\\|null\\) does not accept non\\-empty\\-list\\<Nextras\\\\Orm\\\\Entity\\\\IEntity\\|null\\>\\.$#"
			count: 1
			path: repo/src/Collection/DbalCollection.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of method Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\DbalExpressionResult\\:\\:append\\(\\) expects list\\<mixed\\>, mixed given\\.$#"
			count: 1
			path: repo/src/Collection/Functions/CompareEqualsFunction.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of method Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\DbalExpressionResult\\:\\:append\\(\\) expects list\\<mixed\\>, non\\-empty\\-array given\\.$#"
			count: 1
			path: repo/src/Collection/Functions/CompareEqualsFunction.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of method Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\DbalExpressionResult\\:\\:append\\(\\) expects list\\<mixed\\>, mixed given\\.$#"
			count: 1
			path: repo/src/Collection/Functions/CompareNotEqualsFunction.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of method Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\DbalExpressionResult\\:\\:append\\(\\) expects list\\<mixed\\>, non\\-empty\\-array given\\.$#"
			count: 1
			path: repo/src/Collection/Functions/CompareNotEqualsFunction.php

		-
			message: "#^Parameter \\#1 \\$args of method Nextras\\\\Orm\\\\Collection\\\\Functions\\\\ConjunctionOperatorFunction\\:\\:normalizeFunctions\\(\\) expects array\\<int\\<0, max\\>\\|string, mixed\\>, array\\<int\\|string, mixed\\> given\\.$#"
			count: 2
			path: repo/src/Collection/Functions/ConjunctionOperatorFunction.php

		-
			message: "#^Parameter \\#1 \\$args of method Nextras\\\\Orm\\\\Collection\\\\Functions\\\\DisjunctionOperatorFunction\\:\\:normalizeFunctions\\(\\) expects array\\<int\\<0, max\\>\\|string, mixed\\>, array\\<int\\|string, mixed\\> given\\.$#"
			count: 2
			path: repo/src/Collection/Functions/DisjunctionOperatorFunction.php

		-
			message: "#^Method Nextras\\\\Orm\\\\Collection\\\\HasManyCollection\\:\\:fetchAll\\(\\) should return list\\<E of Nextras\\\\Orm\\\\Entity\\\\IEntity\\> but returns array\\<E of Nextras\\\\Orm\\\\Entity\\\\IEntity\\>\\.$#"
			count: 1
			path: repo/src/Collection/HasManyCollection.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, string\\|null given\\.$#"
			count: 1
			path: repo/src/Collection/Helpers/ConditionParser.php

		-
			message: "#^Parameter \\#2 \\$args of class Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\DbalExpressionResult constructor expects list\\<mixed\\>, array given\\.$#"
			count: 1
			path: repo/src/Collection/Helpers/DbalExpressionResult.php

		-
			message: "#^Method Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\DbalQueryBuilderHelper\\:\\:processOrderDirection\\(\\) should return array\\{string, list\\<mixed\\>\\} but returns array\\{'%%ex ASC NULLS FIRST', array\\}\\.$#"
			count: 1
			path: repo/src/Collection/Helpers/DbalQueryBuilderHelper.php

		-
			message: "#^Method Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\DbalQueryBuilderHelper\\:\\:processOrderDirection\\(\\) should return array\\{string, list\\<mixed\\>\\} but returns array\\{'%%ex ASC', array\\}\\.$#"
			count: 3
			path: repo/src/Collection/Helpers/DbalQueryBuilderHelper.php

		-
			message: "#^Method Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\DbalQueryBuilderHelper\\:\\:processOrderDirection\\(\\) should return array\\{string, list\\<mixed\\>\\} but returns array\\{'%%ex DESC NULLS LAST', array\\}\\.$#"
			count: 1
			path: repo/src/Collection/Helpers/DbalQueryBuilderHelper.php

		-
			message: "#^Method Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\DbalQueryBuilderHelper\\:\\:processOrderDirection\\(\\) should return array\\{string, list\\<mixed\\>\\} but returns array\\{'%%ex DESC', array\\}\\.$#"
			count: 3
			path: repo/src/Collection/Helpers/DbalQueryBuilderHelper.php

		-
			message: "#^Method Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\DbalQueryBuilderHelper\\:\\:processOrderDirection\\(\\) should return array\\{string, list\\<mixed\\>\\} but returns array\\{'%%ex IS NOT NULL, …', array, array\\}\\.$#"
			count: 1
			path: repo/src/Collection/Helpers/DbalQueryBuilderHelper.php

		-
			message: "#^Method Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\DbalQueryBuilderHelper\\:\\:processOrderDirection\\(\\) should return array\\{string, list\\<mixed\\>\\} but returns array\\{'%%ex IS NULL, %%ex ASC', array, array\\}\\.$#"
			count: 1
			path: repo/src/Collection/Helpers/DbalQueryBuilderHelper.php

		-
			message: "#^Method Nextras\\\\Orm\\\\Collection\\\\Helpers\\\\DbalQueryBuilderHelper\\:\\:processOrderDirection\\(\\) should return array\\{string, list\\<mixed\\>\\} but returns array\\{'CASE WHEN %%ex IS…', array, array\\}\\.$#"
			count: 2
			path: repo/src/Collection/Helpers/DbalQueryBuilderHelper.php

		-
			message: "#^Casting to string something that's already string\\.$#"
			count: 1
			path: repo/src/Entity/Reflection/MetadataParser.php

		-
			message: """
				#^Call to deprecated method getNameFqn\\(\\) of class Nextras\\\\Dbal\\\\Platforms\\\\Data\\\\Table\\:
				Use getUnescapedFqn\\(\\)$#
			"""
			count: 6
			path: repo/src/Mapper/Dbal/Conventions/Conventions.php

		-
			message: """
				#^Fetching deprecated class constant FILES of class Nette\\\\Caching\\\\Cache\\:
				use Cache\\:\\:Files$#
			"""
			count: 1
			path: repo/src/Model/MetadataStorage.php

		-
			message: "#^Method Nextras\\\\Orm\\\\Model\\\\Model\\:\\:getLoadedRepositories\\(\\) return type with generic interface Nextras\\\\Orm\\\\Repository\\\\IRepository does not specify its types\\: E$#"
			count: 1
			path: repo/src/Model/Model.php

		-
			message: "#^PHPDoc tag @phpstan\\-return has invalid value \\(list\\<IRepository\\<\\\\Nextras\\\\Orm\\\\Entity\\\\IEntity\\>\\>\\>\\)\\: Unexpected token \"\\>\", expected TOKEN_HORIZONTAL_WS at offset 96$#"
			count: 1
			path: repo/src/Model/Model.php

		-
			message: "#^Method Nextras\\\\Orm\\\\Relationships\\\\ManyHasMany\\:\\:getEntitiesForPersistence\\(\\) should return list\\<Nextras\\\\Orm\\\\Entity\\\\IEntity\\> but returns array\\<Nextras\\\\Orm\\\\Entity\\\\IEntity\\>\\.$#"
			count: 1
			path: repo/src/Relationships/ManyHasMany.php

		-
			message: "#^Method Nextras\\\\Orm\\\\Relationships\\\\OneHasMany\\:\\:getEntitiesForPersistence\\(\\) should return list\\<Nextras\\\\Orm\\\\Entity\\\\IEntity\\> but returns array\\<Nextras\\\\Orm\\\\Entity\\\\IEntity\\>\\.$#"
			count: 1
			path: repo/src/Relationships/OneHasMany.php

		-
			message: "#^Parameter \\#1 \\$ids of method Nextras\\\\Orm\\\\Repository\\\\Repository\\<E of Nextras\\\\Orm\\\\Entity\\\\IEntity\\>\\:\\:findByIds\\(\\) expects list\\<mixed\\>, array given\\.$#"
			count: 1
			path: repo/src/Repository/Repository.php

		-
			message: "#^Loose comparison using \\!\\= between 1 and 1 will always evaluate to false\\.$#"
			count: 2
			path: repo/tests/cases/integration/Relationships/entity.relationships.phpt

		-
			message: "#^Parameter \\#1 \\$array of function sort contains unresolvable type\\.$#"
			count: 1
			path: repo/tests/cases/integration/Relationships/entity.relationships.phpt

		-
			message: "#^Parameter \\#1 \\$entities of class Nextras\\\\Orm\\\\Collection\\\\ArrayCollection constructor expects list\\<NextrasTests\\\\Orm\\\\Author\\>, array\\{1\\: NextrasTests\\\\Orm\\\\Author\\} given\\.$#"
			count: 1
			path: repo/tests/cases/unit/Collection/ArrayCollectionTest.phpt

		-
			message: "#^Method NextrasTests\\\\Orm\\\\Mapper\\\\Dbal\\\\DbalValueOperatorFunctionTest\\:\\:operatorTestProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: repo/tests/cases/unit/Mapper/Dbal/DbalValueOperatorFunctionTest.phpt

		-
			message: "#^PHPDoc tag @return has invalid value \\(array\\<array\\{BaseCompareFunction, array\\<mixed\\>, array\\<mixed\\>\\}\\>\\>\\)\\: Unexpected token \"\\>\", expected TOKEN_HORIZONTAL_WS at offset 77$#"
			count: 1
			path: repo/tests/cases/unit/Mapper/Dbal/DbalValueOperatorFunctionTest.phpt

		-
			message: """
				#^Call to deprecated method addParameters\\(\\) of class Nette\\\\Bootstrap\\\\Configurator\\:
				use addStaticParameters\\(\\)$#
			"""
			count: 2
			path: repo/tests/inc/TestCase.php

		-
			message: """
				#^Call to deprecated method enableDebugger\\(\\) of class Nette\\\\Bootstrap\\\\Configurator\\:
				use enableTracy\\(\\)$#
			"""
			count: 1
			path: repo/tests/inc/TestCase.php

		-
			message: """
				#^Instantiation of deprecated class Nette\\\\Configurator\\:
				use Nette\\\\Bootstrap\\\\Configurator$#
			"""
			count: 1
			path: repo/tests/inc/TestCase.php

