parameters:
	ignoreErrors:
		-
			message: "#^Property Nextras\\\\Orm\\\\Collection\\\\ArrayCollection\\:\\:\\$onEntityFetch type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: repo/src/Collection/ArrayCollection.php

		-
			message: "#^Property Nextras\\\\Orm\\\\Collection\\\\DbalCollection\\:\\:\\$onEntityFetch type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: repo/src/Collection/DbalCollection.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: repo/src/Collection/Helpers/ArrayCollectionHelper.php

		-
			message: "#^Strict comparison using \\!\\=\\= between array\\(Nextras\\\\Orm\\\\Entity\\\\IEntity, array\\<string\\>, Nextras\\\\Orm\\\\Entity\\\\Reflection\\\\EntityMetadata\\) and null will always evaluate to true\\.$#"
			count: 1
			path: repo/src/Collection/Helpers/ArrayCollectionHelper.php

		-
			message: "#^Unsafe access to private property Nextras\\\\Orm\\\\Model\\\\MetadataStorage\\:\\:\\$metadata through static\\:\\:\\.$#"
			count: 4
			path: repo/src/Model/MetadataStorage.php

		-
			message: "#^Unsafe call to private method Nextras\\\\Orm\\\\Repository\\\\RemovalHelper\\:\\:setNulls\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: repo/src/Repository/RemovalHelper.php

