parameters:
	ignoreErrors:
		-
			message: '#^Unary operation "\+" on non\-empty\-string results in an error\.$#'
			identifier: unaryOp.invalid
			count: 1
			path: repo/lib/PhpParser/ParserAbstract.php
