parameters:
	ignoreErrors:
		-
			rawMessage: Value assigned to variable $models is never read before being overwritten.
			identifier: assign.overwritten
			count: 1
			path: repo/src/Parameters/RelationClosureHelper.php

		-
			rawMessage: 'Strict comparison using !== between PhpParser\Node\Expr and null will always evaluate to true.'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: repo/src/ReturnTypes/CollectionFilterRejectDynamicReturnTypeExtension.php

		-
			rawMessage: 'Method CalebDW\PhpstanLaravel\Rules\OctaneCompatibilityRule::checkForThisAppUsage() has an unused parameter $scope.'
			identifier: method.unusedParameter
			count: 1
			path: repo/src/Rules/OctaneCompatibilityRule.php
