includes:
	- phpunit-baseline.neon

parameters:
	earlyTerminatingMethodCalls:
		PHPUnit\TextUI\Command:
			- exitWithErrorMessage
	featureToggles:
		disableRuntimeReflectionProvider: true
	excludes_analyse:
		- repo/tests/end-to-end/regression/GitHub/4232/Issue4232Test.php
		- repo/tests/_files/ClassWithUnionReturnTypes.php
		- repo/tests/unit/Framework/MockObject/MockObjectTest.php
		- repo/tests/_files/mock-object/ClassWithoutParentButParentReturnType.php
		- repo/tests/end-to-end/regression/GitHub/3904/Issue3904Test.php
	bootstrapFiles:
		- phar://%currentWorkingDirectory%/tests/_files/phpunit-example-extension/tools/phpunit.d/phpunit-example-extension-3.0.3.phar/phpunit-example-extension/TestCaseTrait.php
