parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$descriptor_spec of function proc_open expects array\<1\|2, list\<string\>\|resource\>, array\{1\: array\{''socket''\}, 2\: resource\|false\} given\.$#'
			identifier: argument.type
			count: 1
			path: repo/src/console/ConsoleReaderChildProcessDaemon.php
