parameters:
	ignoreErrors:
		-
			message: "#^Property pocketmine\\\\Achievement\\:\\:\\$list type has no value type specified in iterable type array\\.$#"
			count: 1
			path: repo/src/pocketmine/Achievement.php

		-
			message: "#^Only booleans are allowed in &&, mixed given on the right side\\.$#"
			count: 1
			path: repo/src/pocketmine/Player.php

		-
			message: "#^Do\\-while loop condition is always false\\.$#"
			count: 1
			path: repo/src/pocketmine/PocketMine.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 2
			path: repo/src/pocketmine/ThreadManager.php

		-
			message: "#^Do\\-while loop condition is always false\\.$#"
			count: 1
			path: repo/src/pocketmine/entity/projectile/Projectile.php

		-
			message: "#^PHPDoc type pocketmine\\\\Player of property pocketmine\\\\event\\\\player\\\\PlayerDeathEvent\\:\\:\\$entity is not the same as PHPDoc type pocketmine\\\\entity\\\\Living of overridden property pocketmine\\\\event\\\\entity\\\\EntityEvent\\<pocketmine\\\\entity\\\\Living\\>\\:\\:\\$entity\\.$#"
			count: 1
			path: repo/src/pocketmine/event/player/PlayerDeathEvent.php

		-
			message: "#^PHPDoc type pocketmine\\\\level\\\\Position of property pocketmine\\\\inventory\\\\AnvilInventory\\:\\:\\$holder is not the same as PHPDoc type pocketmine\\\\math\\\\Vector3 of overridden property pocketmine\\\\inventory\\\\ContainerInventory\\:\\:\\$holder\\.$#"
			count: 1
			path: repo/src/pocketmine/inventory/AnvilInventory.php

		-
			message: "#^PHPDoc type pocketmine\\\\tile\\\\Chest of property pocketmine\\\\inventory\\\\ChestInventory\\:\\:\\$holder is not the same as PHPDoc type pocketmine\\\\math\\\\Vector3 of overridden property pocketmine\\\\inventory\\\\ContainerInventory\\:\\:\\$holder\\.$#"
			count: 1
			path: repo/src/pocketmine/inventory/ChestInventory.php

		-
			message: "#^PHPDoc type pocketmine\\\\level\\\\Position of property pocketmine\\\\inventory\\\\EnchantInventory\\:\\:\\$holder is not the same as PHPDoc type pocketmine\\\\math\\\\Vector3 of overridden property pocketmine\\\\inventory\\\\ContainerInventory\\:\\:\\$holder\\.$#"
			count: 1
			path: repo/src/pocketmine/inventory/EnchantInventory.php

		-
			message: "#^PHPDoc type pocketmine\\\\level\\\\Position of property pocketmine\\\\inventory\\\\EnderChestInventory\\:\\:\\$holder is not the same as PHPDoc type pocketmine\\\\tile\\\\Chest of overridden property pocketmine\\\\inventory\\\\ChestInventory\\:\\:\\$holder\\.$#"
			count: 1
			path: repo/src/pocketmine/inventory/EnderChestInventory.php

		-
			message: "#^PHPDoc type pocketmine\\\\tile\\\\Furnace of property pocketmine\\\\inventory\\\\FurnaceInventory\\:\\:\\$holder is not the same as PHPDoc type pocketmine\\\\math\\\\Vector3 of overridden property pocketmine\\\\inventory\\\\ContainerInventory\\:\\:\\$holder\\.$#"
			count: 1
			path: repo/src/pocketmine/inventory/FurnaceInventory.php

		-
			message: "#^Property pocketmine\\\\inventory\\\\MultiRecipe\\:\\:\\$uuid is never read, only written\\.$#"
			count: 1
			path: repo/src/pocketmine/inventory/MultiRecipe.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: repo/src/pocketmine/item/ItemFactory.php

		-
			message: "#^Cannot call method getBlockData\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/Level.php

		-
			message: "#^Cannot call method getBlockId\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/Level.php

		-
			message: "#^Only booleans are allowed in &&, mixed given on the right side\\.$#"
			count: 1
			path: repo/src/pocketmine/level/Level.php

		-
			message: "#^Only booleans are allowed in \\|\\|, bool\\|null given on the right side\\.$#"
			count: 1
			path: repo/src/pocketmine/level/Level.php

		-
			message: "#^Unsafe access to private property pocketmine\\\\level\\\\Level\\:\\:\\$levelIdCounter through static\\:\\:\\.$#"
			count: 1
			path: repo/src/pocketmine/level/Level.php

		-
			message: "#^Cannot call method getBlockDataArray\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockDataColumn\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockIdArray\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockIdColumn\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockLightArray\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockLightColumn\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockSkyLightArray\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockSkyLightColumn\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Method pocketmine\\\\level\\\\format\\\\Chunk\\:\\:getHeightMapArray\\(\\) should return array\\<int\\> but returns array\\<int, int\\|null\\>\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Only booleans are allowed in \\|\\|, bool\\|null given on the right side\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Dead catch \\- ReflectionException is never thrown in the try block\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/io/LevelProviderManager.php

		-
			message: "#^Cannot call method getBlockDataArray\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/io/leveldb/LevelDB.php

		-
			message: "#^Cannot call method getBlockIdArray\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/io/leveldb/LevelDB.php

		-
			message: "#^Cannot call method isEmpty\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/io/leveldb/LevelDB.php

		-
			message: "#^Method pocketmine\\\\level\\\\format\\\\io\\\\leveldb\\\\LevelDB\\:\\:chunkExists\\(\\) is unused\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/io/leveldb/LevelDB.php

		-
			message: "#^Parameter \\#2 \\$count of function array_fill expects int\\<0, max\\>, int given\\.$#"
			count: 2
			path: repo/src/pocketmine/level/generator/noise/Noise.php

		-
			message: "#^Property pocketmine\\\\level\\\\generator\\\\object\\\\Pond\\:\\:\\$random is never read, only written\\.$#"
			count: 1
			path: repo/src/pocketmine/level/generator/object/Pond.php

		-
			message: "#^Property pocketmine\\\\level\\\\generator\\\\populator\\\\Pond\\:\\:\\$lavaOdd is never read, only written\\.$#"
			count: 1
			path: repo/src/pocketmine/level/generator/populator/Pond.php

		-
			message: "#^Property pocketmine\\\\level\\\\generator\\\\populator\\\\Pond\\:\\:\\$lavaSurfaceOdd is never read, only written\\.$#"
			count: 1
			path: repo/src/pocketmine/level/generator/populator/Pond.php

		-
			message: "#^Cannot use array destructuring on mixed\\.$#"
			count: 1
			path: repo/src/pocketmine/network/mcpe/VerifyLoginTask.php

		-
			message: "#^Property pocketmine\\\\network\\\\mcpe\\\\protocol\\\\AvailableActorIdentifiersPacket\\:\\:\\$namedtag \\(string\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: repo/src/pocketmine/network/mcpe/protocol/AvailableActorIdentifiersPacket.php

		-
			message: "#^Method pocketmine\\\\network\\\\mcpe\\\\protocol\\\\AvailableCommandsPacket\\:\\:argTypeToString\\(\\) is unused\\.$#"
			count: 1
			path: repo/src/pocketmine/network/mcpe/protocol/AvailableCommandsPacket.php

		-
			message: "#^Property pocketmine\\\\network\\\\mcpe\\\\protocol\\\\BiomeDefinitionListPacket\\:\\:\\$namedtag \\(string\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: repo/src/pocketmine/network/mcpe/protocol/BiomeDefinitionListPacket.php

		-
			message: "#^Property pocketmine\\\\network\\\\mcpe\\\\protocol\\\\UnknownPacket\\:\\:\\$payload \\(string\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: repo/src/pocketmine/network/mcpe/protocol/UnknownPacket.php

		-
			message: "#^Do\\-while loop condition is always false\\.$#"
			count: 1
			path: repo/src/pocketmine/permission/BanEntry.php

		-
			message: "#^Dead catch \\- ErrorException is never thrown in the try block\\.$#"
			count: 1
			path: repo/src/pocketmine/resourcepacks/ResourcePackManager.php

		-
			message: "#^Parameter \\#1 \\$signature of static method pocketmine\\\\utils\\\\Utils\\:\\:validateCallableSignature\\(\\) expects callable\\(mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed\\)\\: mixed, Closure\\(int\\)\\: void given\\.$#"
			count: 1
			path: repo/src/pocketmine/scheduler/AsyncPool.php

		-
			message: "#^Parameter \\#2 \\$subject of static method pocketmine\\\\utils\\\\Utils\\:\\:validateCallableSignature\\(\\) expects callable\\(mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed\\)\\: mixed, Closure\\(int\\)\\: void given\\.$#"
			count: 1
			path: repo/src/pocketmine/scheduler/AsyncPool.php

		-
			message: "#^PHPDoc type pocketmine\\\\scheduler\\\\AsyncWorker\\|null of property pocketmine\\\\scheduler\\\\AsyncTask\\:\\:\\$worker is not the same as PHPDoc type Worker of overridden property Threaded\\:\\:\\$worker\\.$#"
			count: 1
			path: repo/src/pocketmine/scheduler/AsyncTask.php

		-
			message: "#^Parameter \\#1 \\$closure of static method pocketmine\\\\utils\\\\Utils\\:\\:getNiceClosureName\\(\\) expects Closure\\(mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed\\)\\: mixed, Closure\\(int\\)\\: void given\\.$#"
			count: 1
			path: repo/src/pocketmine/scheduler/ClosureTask.php

		-
			message: "#^Parameter \\#1 \\$signature of static method pocketmine\\\\utils\\\\Utils\\:\\:validateCallableSignature\\(\\) expects callable\\(mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed\\)\\: mixed, Closure\\(int\\)\\: void given\\.$#"
			count: 1
			path: repo/src/pocketmine/scheduler/ClosureTask.php

		-
			message: "#^Parameter \\#2 \\$subject of static method pocketmine\\\\utils\\\\Utils\\:\\:validateCallableSignature\\(\\) expects callable\\(mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed\\)\\: mixed, Closure\\(int\\)\\: void given\\.$#"
			count: 1
			path: repo/src/pocketmine/scheduler/ClosureTask.php

		-
			message: "#^Method pocketmine\\\\utils\\\\Internet\\:\\:simpleCurl\\(\\) should return array\\(string, array\\<int, array\\<string, string\\>\\>, int\\) but returns array\\(string, array\\<int, array\\<string, string\\>\\>&nonEmpty, mixed\\)\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Internet.php

		-
			message: "#^Backtick operator is not allowed\\. Use shell_exec\\(\\) instead\\.$#"
			count: 46
			path: repo/src/pocketmine/utils/Terminal.php

		-
			message: "#^Do\\-while loop condition is always false\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Timezone.php

		-
			message: "#^Only booleans are allowed in &&, mixed given on the right side\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Timezone.php

		-
			message: "#^Only booleans are allowed in &&, string\\|false given on the left side\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Timezone.php

		-
			message: "#^Backtick operator is not allowed\\. Use shell_exec\\(\\) instead\\.$#"
			count: 2
			path: repo/src/pocketmine/utils/Utils.php

		-
			message: "#^Dead catch \\- ReflectionException is never thrown in the try block\\.$#"
			count: 2
			path: repo/src/pocketmine/utils/Utils.php

