parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset \\(float\\|int\\) on mixed\\.$#"
			count: 1
			path: repo/src/pocketmine/CrashDump.php

		-
			message: "#^Empty array passed to foreach\\.$#"
			count: 1
			path: repo/src/pocketmine/CrashDump.php

		-
			message: "#^Parameter \\#1 \\$string of function base64_encode expects string, string\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/CrashDump.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/CrashDump.php

		-
			message: "#^Property pocketmine\\\\CrashDump\\:\\:\\$encodedData \\(string\\) does not accept string\\|false\\.$#"
			count: 1
			path: repo/src/pocketmine/CrashDump.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/MemoryManager.php

		-
			message: "#^Parameter \\#1 \\$stream of function fwrite expects resource, resource\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/MemoryManager.php

		-
			message: "#^Parameter \\#1 \\$string of function base64_decode expects string, mixed given\\.$#"
			count: 5
			path: repo/src/pocketmine/Player.php

		-
			message: "#^Parameter \\#1 \\$pid of static method pocketmine\\\\utils\\\\Process\\:\\:kill\\(\\) expects int, int\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/PocketMine.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/PocketMine.php

		-
			message: "#^Parameter \\#1 \\$stream of function fflush expects resource, resource\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/PocketMine.php

		-
			message: "#^Parameter \\#1 \\$stream of function flock expects resource, resource\\|false given\\.$#"
			count: 4
			path: repo/src/pocketmine/PocketMine.php

		-
			message: "#^Parameter \\#1 \\$stream of function ftruncate expects resource, resource\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/PocketMine.php

		-
			message: "#^Parameter \\#1 \\$stream of function fwrite expects resource, resource\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/PocketMine.php

		-
			message: "#^Parameter \\#1 \\$stream of function stream_get_contents expects resource, resource\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/PocketMine.php

		-
			message: "#^Comparison operation \"\\>\" between int\\<1, max\\> and 0 is always true\\.$#"
			count: 1
			path: repo/src/pocketmine/Server.php

		-
			message: "#^Parameter \\#1 \\$array of function array_filter expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/Server.php

		-
			message: "#^Parameter \\#1 \\$pid of static method pocketmine\\\\utils\\\\Process\\:\\:kill\\(\\) expects int, int\\|false given\\.$#"
			count: 2
			path: repo/src/pocketmine/Server.php

		-
			message: "#^Parameter \\#1 \\$string of function strtolower expects string, mixed given\\.$#"
			count: 1
			path: repo/src/pocketmine/Server.php

		-
			message: "#^Parameter \\#1 \\$num of function round expects float\\|int, mixed given\\.$#"
			count: 1
			path: repo/src/pocketmine/command/defaults/StatusCommand.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 2
			path: repo/src/pocketmine/command/defaults/TimingsCommand.php

		-
			message: "#^Parameter \\#1 \\$stream of function fseek expects resource, resource\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/command/defaults/TimingsCommand.php

		-
			message: "#^Parameter \\#1 \\$stream of function stream_get_contents expects resource, resource\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/command/defaults/TimingsCommand.php

		-
			message: "#^Method pocketmine\\\\entity\\\\Entity\\:\\:getSaveId\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: repo/src/pocketmine/entity/Entity.php

		-
			message: "#^Method pocketmine\\\\entity\\\\utils\\\\ExperienceUtils\\:\\:getLevelFromXp\\(\\) should return float but returns float\\|false\\.$#"
			count: 1
			path: repo/src/pocketmine/entity/utils/ExperienceUtils.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: repo/src/pocketmine/event/HandlerList.php

		-
			message: "#^Comparison operation \"\\<\" between int\\<1, max\\> and 1 is always false\\.$#"
			count: 1
			path: repo/src/pocketmine/inventory/transaction/CraftingTransaction.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, array\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/lang/BaseLang.php

		-
			message: "#^Cannot call method getBlockData\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/Level.php

		-
			message: "#^Cannot call method getBlockId\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/Level.php

		-
			message: "#^Cannot call method getBlockDataArray\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockDataColumn\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockIdArray\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockIdColumn\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockLightArray\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockLightColumn\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockSkyLightArray\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Cannot call method getBlockSkyLightColumn\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Method pocketmine\\\\level\\\\format\\\\Chunk\\:\\:getHeightMapArray\\(\\) should return array\\<int\\> but returns array\\<int, int\\|null\\>\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Parameter \\#1 \\$array of function array_values expects array, array\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/Chunk.php

		-
			message: "#^Array \\(array\\<string, class\\-string\\<pocketmine\\\\level\\\\format\\\\io\\\\LevelProvider\\>\\>\\) does not accept pocketmine\\\\level\\\\format\\\\io\\\\LevelProvider\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/io/LevelProviderManager.php

		-
			message: "#^Cannot call method getBlockDataArray\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/io/leveldb/LevelDB.php

		-
			message: "#^Cannot call method getBlockIdArray\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/io/leveldb/LevelDB.php

		-
			message: "#^Cannot call method isEmpty\\(\\) on pocketmine\\\\level\\\\format\\\\SubChunkInterface\\|null\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/io/leveldb/LevelDB.php

		-
			message: "#^Parameter \\#1 \\$array of function array_values expects array, array\\|false given\\.$#"
			count: 3
			path: repo/src/pocketmine/level/format/io/leveldb/LevelDB.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, mixed given\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/io/leveldb/LevelDB.php

		-
			message: "#^Parameter \\#1 \\$array of function array_filter expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/io/region/McRegion.php

		-
			message: "#^Parameter \\#1 \\$array of function array_values expects array, array\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/level/format/io/region/McRegion.php

		-
			message: "#^Cannot access offset int on array\\|false\\.$#"
			count: 2
			path: repo/src/pocketmine/level/format/io/region/RegionLoader.php

		-
			message: "#^PHPDoc tag @var for variable \\$values contains generic class SplObjectStorage but does not specify its types\\: TObject, TData$#"
			count: 1
			path: repo/src/pocketmine/metadata/MetadataStore.php

		-
			message: "#^Property pocketmine\\\\metadata\\\\MetadataStore\\:\\:\\$metadataMap with generic class SplObjectStorage does not specify its types\\: TObject, TData$#"
			count: 1
			path: repo/src/pocketmine/metadata/MetadataStore.php

		-
			message: "#^Parameter \\#1 \\$string of function str_split expects string, string\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/mcpe/VerifyLoginTask.php

		-
			message: "#^Parameter \\#1 \\$seed of function mt_srand expects int, int\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/mcpe/convert/RuntimeBlockMapping.php

		-
			message: "#^Parameter \\#1 \\$str of method pocketmine\\\\utils\\\\BinaryStream\\:\\:put\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/mcpe/protocol/BatchPacket.php

		-
			message: "#^PHPDoc tag @var above assignment does not specify variable name\\.$#"
			count: 1
			path: repo/src/pocketmine/network/mcpe/protocol/CraftingDataPacket.php

		-
			message: "#^Call to function is_string\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: repo/src/pocketmine/network/mcpe/protocol/DataPacket.php

		-
			message: "#^Parameter \\#1 \\$socket of class pocketmine\\\\network\\\\rcon\\\\RCONInstance constructor expects resource, Socket given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/rcon/RCON.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_close expects Socket, resource given\\.$#"
			count: 3
			path: repo/src/pocketmine/network/rcon/RCON.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_write expects Socket, resource given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/rcon/RCON.php

		-
			message: "#^Property pocketmine\\\\network\\\\rcon\\\\RCON\\:\\:\\$socket \\(resource\\) does not accept Socket\\.$#"
			count: 1
			path: repo/src/pocketmine/network/rcon/RCON.php

		-
			message: "#^Parameter \\#1 \\$client of method pocketmine\\\\network\\\\rcon\\\\RCONInstance\\:\\:disconnectClient\\(\\) expects resource, resource\\|Socket given\\.$#"
			count: 2
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$client of method pocketmine\\\\network\\\\rcon\\\\RCONInstance\\:\\:readPacket\\(\\) expects resource, resource\\|Socket given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$client of method pocketmine\\\\network\\\\rcon\\\\RCONInstance\\:\\:writePacket\\(\\) expects resource, resource\\|Socket given\\.$#"
			count: 3
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$read of function socket_select expects array\\<Socket\\>\\|null, array\\<resource\\|Socket\\> given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_accept expects Socket, resource given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_close expects Socket, resource given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_getpeername expects Socket, resource given\\.$#"
			count: 2
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_getpeername expects Socket, resource\\|Socket given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_last_error expects Socket\\|null, resource given\\.$#"
			count: 2
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_read expects Socket, resource given\\.$#"
			count: 4
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_set_block expects Socket, resource given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_set_option expects Socket, resource given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_shutdown expects Socket, resource given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_write expects Socket, resource given\\.$#"
			count: 1
			path: repo/src/pocketmine/network/rcon/RCONInstance.php

		-
			message: "#^Cannot access offset 'errors' on array\\('warning_count' \\=\\> int, 'warnings' \\=\\> array\\<int, string\\>, 'error_count' \\=\\> int, 'errors' \\=\\> array\\<int, string\\>\\)\\|false\\.$#"
			count: 1
			path: repo/src/pocketmine/permission/BanEntry.php

		-
			message: "#^Parameter \\#1 \\$string of function mb_strtoupper expects string, mixed given\\.$#"
			count: 1
			path: repo/src/pocketmine/plugin/PluginDescription.php

		-
			message: "#^Parameter \\#1 \\$data of function unserialize expects string, mixed given\\.$#"
			count: 1
			path: repo/src/pocketmine/scheduler/AsyncTask.php

		-
			message: "#^Property pocketmine\\\\scheduler\\\\AsyncTask\\:\\:\\$threadLocalStorage with generic class SplObjectStorage does not specify its types\\: TObject, TData$#"
			count: 1
			path: repo/src/pocketmine/scheduler/AsyncTask.php

		-
			message: "#^Method pocketmine\\\\tile\\\\Tile\\:\\:getSaveId\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: repo/src/pocketmine/tile/Tile.php

		-
			message: "#^Parameter \\#1 \\$string of function strtolower expects string, mixed given\\.$#"
			count: 1
			path: repo/src/pocketmine/updater/AutoUpdater.php

		-
			message: "#^Parameter \\#2 \\$timestamp of function date expects int\\|null, mixed given\\.$#"
			count: 1
			path: repo/src/pocketmine/updater/AutoUpdater.php

		-
			message: "#^Parameter \\#1 \\$ of callable callable\\(resource\\)\\: void expects resource, CurlHandle given\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Internet.php

		-
			message: "#^Parameter \\#2 \\$offset of function substr expects int, mixed given\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Internet.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, mixed given\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Internet.php

		-
			message: "#^Parameter \\#2 \\$data of function fwrite expects string, mixed given\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/MainLogger.php

		-
			message: "#^Parameter \\#1 \\$pid of static method pocketmine\\\\utils\\\\Process\\:\\:kill\\(\\) expects int, int\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/ServerKiller.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Timezone.php

		-
			message: "#^Strict comparison using \\=\\=\\= between array\\<string, mixed\\> and false will always evaluate to false\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Timezone.php

		-
			message: "#^Parameter \\#1 \\$value of static method pocketmine\\\\utils\\\\Binary\\:\\:writeShort\\(\\) expects int, int\\|false given\\.$#"
			count: 2
			path: repo/src/pocketmine/utils/UUID.php

		-
			message: "#^Comparison operation \"\\>\\=\" between int\\<1, max\\> and 1 is always true\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Utils.php

		-
			message: "#^Parameter \\#1 \\$separator of function implode expects array\\|string, array\\|false given\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Utils.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, mixed given\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Utils.php

		-
			message: "#^Strict comparison using \\=\\=\\= between array and false will always evaluate to false\\.$#"
			count: 1
			path: repo/src/pocketmine/utils/Utils.php

