parameters:
	ignoreErrors:
		-
			message: "#^Property pocketmine\\\\Player\\:\\:\\$needACK is never read, only written\\.$#"
			count: 1
			path: repo/src/pocketmine/Player.php

		-
			message: "#^Strict comparison using \\=\\=\\= between 3 and 3 will always evaluate to true\\.$#"
			count: 3
			path: repo/src/pocketmine/block/Liquid.php

		-
			message: "#^Static property pocketmine\\\\entity\\\\Entity\\:\\:\\$saveNames \\(array\\<class\\-string\\<pocketmine\\\\entity\\\\Entity\\>, string\\>\\) does not accept array\\<class\\-string\\<pocketmine\\\\entity\\\\Entity\\>, bool\\|string\\>\\.$#"
			count: 1
			path: repo/src/pocketmine/entity/Entity.php

		-
			message: "#^Property pocketmine\\\\level\\\\Level\\:\\:\\$blockCache \\(array\\<array\\<pocketmine\\\\block\\\\Block\\>\\>\\) does not accept array\\<array\\<pocketmine\\\\block\\\\Block\\|null\\>\\>\\.$#"
			count: 1
			path: repo/src/pocketmine/level/Level.php

		-
			message: "#^Property pocketmine\\\\level\\\\generator\\\\Flat\\:\\:\\$options \\(array\\<string, mixed\\>\\) does not accept array\\<int\\|string, mixed\\>\\.$#"
			count: 1
			path: repo/src/pocketmine/level/generator/Flat.php

		-
			message: "#^Property pocketmine\\\\plugin\\\\PluginDescription\\:\\:\\$authors \\(array\\<string\\>\\) does not accept array\\.$#"
			count: 2
			path: repo/src/pocketmine/plugin/PluginDescription.php

		-
			message: "#^Property pocketmine\\\\plugin\\\\PluginDescription\\:\\:\\$extensions \\(array\\<string, array\\<int, string\\>\\>\\) does not accept array\\<int\\|string, array\\<string\\>\\>\\.$#"
			count: 1
			path: repo/src/pocketmine/plugin/PluginDescription.php

		-
			message: "#^Static property pocketmine\\\\tile\\\\Tile\\:\\:\\$saveNames \\(array\\<class\\-string\\<pocketmine\\\\tile\\\\Tile\\>, string\\>\\) does not accept array\\<class\\-string\\<pocketmine\\\\tile\\\\Tile\\>, bool\\|string\\>\\.$#"
			count: 1
			path: repo/src/pocketmine/tile/Tile.php

