parameters:
	ignoreErrors:
		-
			message: '#^Path in include_once\(\) __DIR__ \. ''/MO\.php'' is not a file or it does not exist\.$#'
			identifier: includeOnce.fileNotFound
			count: 1
			path: repo/framework/I18N/core/Gettext/TGettext.php

		-
			message: '#^Path in include_once\(\) __DIR__ \. ''/PO\.php'' is not a file or it does not exist\.$#'
			identifier: includeOnce.fileNotFound
			count: 2
			path: repo/framework/I18N/core/Gettext/TGettext.php

		-
			message: '#^Path in require_once\(\) __DIR__ \. ''/captcha_key\.php'' is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: repo/framework/Web/UI/WebControls/assets/captcha.php
