parameters:
	ignoreErrors:
		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: repo/classes/CartRule.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: repo/classes/Hook.php

		-
			message: "#^Offset 'bits' on array in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: repo/classes/ImageManager.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: repo/classes/Language.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: repo/classes/Language.php

		-
			message: "#^Call to function ctype_digit\\(\\) with array\\|CategoryCore will always evaluate to false\\.$#"
			count: 1
			path: repo/classes/Link.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: repo/classes/Mail.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 3
			path: repo/classes/ObjectModel.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 3
			path: repo/classes/controller/AdminController.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and mixed will always evaluate to false\\.$#"
			count: 1
			path: repo/classes/controller/FrontController.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: repo/classes/stock/StockManager.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: repo/classes/stock/SupplyOrderDetail.php

		-
			message: "#^Offset 0 does not exist on non\\-empty\\-array\\<mixed, string\\>\\.$#"
			count: 1
			path: repo/classes/webservice/SQLUtils.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: repo/classes/webservice/WebserviceRequest.php

		-
			message: "#^Offset 'hidden_fields' on array in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: repo/classes/webservice/WebserviceRequest.php

		-
			message: "#^Method AdminAttributesGroupsControllerCore\\:\\:renderForm\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminAttributesGroupsController.php

		-
			message: "#^Method AdminAttributesGroupsControllerCore\\:\\:renderView\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminAttributesGroupsController.php

		-
			message: "#^Method AdminAttributesGroupsControllerCore\\:\\:renderView\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminAttributesGroupsController.php

		-
			message: "#^Method AdminCarrierWizardControllerCore\\:\\:renderView\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminCarrierWizardController.php

		-
			message: "#^Method AdminCarriersControllerCore\\:\\:renderForm\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminCarriersController.php

		-
			message: "#^Method AdminCartRulesControllerCore\\:\\:afterAdd\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminCartRulesController.php

		-
			message: "#^Method AdminCartRulesControllerCore\\:\\:afterUpdate\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminCartRulesController.php

		-
			message: "#^Method AdminCartsControllerCore\\:\\:renderView\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminCartsController.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: repo/controllers/admin/AdminCartsController.php

		-
			message: "#^Method AdminCountriesControllerCore\\:\\:processBulkAffectZone\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminCountriesController.php

		-
			message: "#^Method AdminCountriesControllerCore\\:\\:processStatus\\(\\) should return ObjectModel\\|false but returns bool\\.$#"
			count: 1
			path: repo/controllers/admin/AdminCountriesController.php

		-
			message: "#^Method AdminCountriesControllerCore\\:\\:renderForm\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminCountriesController.php

		-
			message: "#^Method AdminCustomerThreadsControllerCore\\:\\:renderView\\(\\) should return string but empty return statement found\\.$#"
			count: 2
			path: repo/controllers/admin/AdminCustomerThreadsController.php

		-
			message: "#^Method AdminFeaturesControllerCore\\:\\:renderView\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminFeaturesController.php

		-
			message: "#^Method AdminFeaturesControllerCore\\:\\:renderView\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminFeaturesController.php

		-
			message: "#^Method AdminGendersControllerCore\\:\\:renderForm\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminGendersController.php

		-
			message: "#^Method AdminGroupsControllerCore\\:\\:renderForm\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminGroupsController.php

		-
			message: "#^Method AdminGroupsControllerCore\\:\\:renderView\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminGroupsController.php

		-
			message: "#^Method AdminImportControllerCore\\:\\:renderForm\\(\\) should return string but returns bool\\.$#"
			count: 1
			path: repo/controllers/admin/AdminImportController.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: repo/controllers/admin/AdminImportController.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: repo/controllers/admin/AdminImportController.php

		-
			message: "#^Variable \\$current_id_customer in isset\\(\\) always exists and is not nullable\\.$#"
			count: 2
			path: repo/controllers/admin/AdminImportController.php

		-
			message: "#^Variable \\$current_id_shop in isset\\(\\) always exists and is not nullable\\.$#"
			count: 2
			path: repo/controllers/admin/AdminImportController.php

		-
			message: "#^Variable \\$current_id_shop_group in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: repo/controllers/admin/AdminImportController.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: repo/controllers/admin/AdminPdfController.php

		-
			message: "#^Method AdminProductsControllerCore\\:\\:processBulkDelete\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminProductsController.php

		-
			message: "#^Method AdminProductsControllerCore\\:\\:processDelete\\(\\) should return ObjectModel\\|false but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminProductsController.php

		-
			message: "#^Method AdminProductsControllerCore\\:\\:processPosition\\(\\) should return ObjectModel\\|false but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminProductsController.php

		-
			message: "#^Variable \\$stock_manager in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: repo/controllers/admin/AdminProductsController.php

		-
			message: "#^Method AdminRequestSqlControllerCore\\:\\:renderView\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminRequestSqlController.php

		-
			message: "#^Method AdminSearchConfControllerCore\\:\\:renderOptions\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminSearchConfController.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: repo/controllers/admin/AdminSearchConfController.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: repo/controllers/admin/AdminSearchController.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 3
			path: repo/controllers/admin/AdminSearchController.php

		-
			message: "#^Method AdminShopControllerCore\\:\\:processAdd\\(\\) should return ObjectModel\\|false but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminShopController.php

		-
			message: "#^Method AdminShopControllerCore\\:\\:processDelete\\(\\) should return ObjectModel\\|false but returns bool\\.$#"
			count: 1
			path: repo/controllers/admin/AdminShopController.php

		-
			message: "#^Method AdminShopControllerCore\\:\\:renderForm\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminShopController.php

		-
			message: "#^Method AdminShopGroupControllerCore\\:\\:afterAdd\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminShopGroupController.php

		-
			message: "#^Method AdminShopGroupControllerCore\\:\\:afterUpdate\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminShopGroupController.php

		-
			message: "#^Method AdminShopGroupControllerCore\\:\\:renderForm\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminShopGroupController.php

		-
			message: "#^Method AdminShopGroupControllerCore\\:\\:renderOptions\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminShopGroupController.php

		-
			message: "#^Parameter \\#1 \\$shop_group of static method StockAvailableCore\\:\\:resetProductFromStockAvailableByShopGroup\\(\\) expects ShopGroup, ObjectModel given\\.$#"
			count: 2
			path: repo/controllers/admin/AdminShopGroupController.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: repo/controllers/admin/AdminShopGroupController.php

		-
			message: "#^Method AdminShopUrlControllerCore\\:\\:afterUpdate\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminShopUrlController.php

		-
			message: "#^Method AdminShopUrlControllerCore\\:\\:renderForm\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminShopUrlController.php

		-
			message: "#^Method AdminStatesControllerCore\\:\\:processBulkAffectZone\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminStatesController.php

		-
			message: "#^Method AdminStoresControllerCore\\:\\:renderForm\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminStoresController.php

		-
			message: "#^Method AdminSuppliersControllerCore\\:\\:renderForm\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminSuppliersController.php

		-
			message: "#^Method AdminTabsControllerCore\\:\\:afterImageUpload\\(\\) should return bool but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminTabsController.php

		-
			message: "#^Method AdminTabsControllerCore\\:\\:afterImageUpload\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminTabsController.php

		-
			message: "#^Method AdminTabsControllerCore\\:\\:renderDetails\\(\\) should return string\\|false but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/admin/AdminTabsController.php

		-
			message: "#^Method AdminTagsControllerCore\\:\\:renderForm\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminTagsController.php

		-
			message: "#^Method AdminTaxRulesGroupControllerCore\\:\\:renderForm\\(\\) should return string but empty return statement found\\.$#"
			count: 1
			path: repo/controllers/admin/AdminTaxRulesGroupController.php

		-
			message: "#^Method PdfInvoiceControllerCore\\:\\:display\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/front/PdfInvoiceController.php

		-
			message: "#^Method PdfOrderReturnControllerCore\\:\\:display\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/front/PdfOrderReturnController.php

		-
			message: "#^Method PdfOrderSlipControllerCore\\:\\:display\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/controllers/front/PdfOrderSlipController.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: repo/install-dev/controllers/console/process.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: repo/src/Adapter/Import/Handler/ProductImportHandler.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: repo/src/Adapter/Import/Handler/ProductImportHandler.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: repo/src/Adapter/Import/Handler/ProductImportHandler.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: repo/src/Adapter/Import/Handler/ProductImportHandler.php

		-
			message: "#^Offset 'seo' on array on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: repo/src/Core/Form/IdentifiableObject/CommandBuilder/Product/SEOCommandsBuilder.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: repo/src/Core/Grid/Query/CustomerAddressQueryBuilder.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 8
			path: repo/src/Core/Localization/Specification/Number.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 11
			path: repo/src/Core/Localization/Specification/NumberSymbolList.php

		-
			message: "#^Parameter \\#1 \\$p of method Doctrine\\\\Common\\\\Collections\\\\ArrayCollection\\<\\(int\\|string\\),mixed\\>\\:\\:filter\\(\\) expects Closure\\(mixed\\=\\)\\: bool, Closure\\(PrestaShop\\\\PrestaShop\\\\Core\\\\MailTemplate\\\\ThemeInterface\\)\\: bool given\\.$#"
			count: 1
			path: repo/src/Core/MailTemplate/ThemeCollection.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: repo/src/PrestaShopBundle/Bridge/AdminController/LegacyControllerBridge.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: repo/src/PrestaShopBundle/Bridge/Helper/Listing/HelperBridge/HelperListBridge.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: repo/src/PrestaShopBundle/Component/CsvResponse.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: repo/src/PrestaShopBundle/Component/CsvResponse.php

		-
			message: "#^Offset 'admin_email' on array in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: repo/src/PrestaShopBundle/Install/Install.php

		-
			message: "#^Cannot access property \\$fields on null\\.$#"
			count: 1
			path: repo/src/PrestaShopBundle/Install/XmlLoader.php

		-
			message: "#^Offset 'controller' on array\\<int\\|string, mixed\\> in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: repo/src/PrestaShopBundle/Routing/Converter/LegacyParametersConverter.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, null given\\.$#"
			count: 6
			path: repo/tests/Integration/Adapter/ContextStateManagerTest.php

		-
			message: "#^Method Tests\\\\Integration\\\\Behaviour\\\\Features\\\\Context\\\\Domain\\\\Product\\\\SpecificPriceContext\\:\\:createDeleteSpecificPriceCommand\\(\\) is unused\\.$#"
			count: 1
			path: repo/tests/Integration/Behaviour/Features/Context/Domain/Product/SpecificPriceContext.php

		-
			message: "#^Method Tests\\\\Integration\\\\Core\\\\Stock\\\\FakeStockAvailable4759\\:\\:update\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: repo/tests/Integration/Core/Stock/StockManagerTest.php

		-
			message: "#^Method Tests\\\\Integration\\\\PrestaShopBundle\\\\Routing\\\\Converter\\\\LegacyUrlConverterTest\\:\\:doTestConverterByParameters\\(\\) is unused\\.$#"
			count: 1
			path: repo/tests/Integration/PrestaShopBundle/Routing/Converter/LegacyUrlConverterTest.php

		-
			message: "#^Cannot access property \\$id on null\\.$#"
			count: 2
			path: repo/tests/Unit/Adapter/ContextStateManagerTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, null given\\.$#"
			count: 33
			path: repo/tests/Unit/Adapter/ContextStateManagerTest.php

		-
			message: "#^Access to an undefined property PrestaShop\\\\PrestaShop\\\\Core\\\\Localization\\\\CLDR\\\\CurrencyData\\:\\:\\$foo\\.$#"
			count: 1
			path: repo/tests/Unit/Core/Localization/CLDR/DataLayer/CurrencyCacheTest.php

		-
			message: "#^Access to an undefined property PrestaShop\\\\PrestaShop\\\\Core\\\\Localization\\\\CLDR\\\\LocaleData\\:\\:\\$foo\\.$#"
			count: 1
			path: repo/tests/Unit/Core/Localization/CLDR/DataLayer/LocaleCacheTest.php

		-
			message: "#^Access to an undefined property PrestaShop\\\\PrestaShop\\\\Core\\\\Localization\\\\CLDR\\\\LocaleData\\:\\:\\$foo\\.$#"
			count: 1
			path: repo/tests/Unit/Core/Localization/CLDR/DataLayer/LocaleReferenceTest.php

		-
			message: "#^Access to an undefined property PrestaShop\\\\PrestaShop\\\\Core\\\\Localization\\\\Currency\\\\CurrencyData\\:\\:\\$foo\\.$#"
			count: 1
			path: repo/tests/Unit/Core/Localization/DataLayer/CurrencyCacheTest.php

		-
			message: "#^Access to an undefined property PrestaShop\\\\PrestaShop\\\\Core\\\\Localization\\\\CLDR\\\\LocaleData\\:\\:\\$foo\\.$#"
			count: 1
			path: repo/tests/Unit/Core/Localization/LocaleCacheDataLayerTest.php
