parameters:
	ignoreErrors:
		-
			message: "#^Offset \\(int\\|string\\) on non\\-empty\\-array\\<PHPStan\\\\PhpDocParser\\\\Ast\\\\PhpDoc\\\\PhpDocChildNode\\> in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: repo/packages/BetterPhpDocParser/PhpDocParser/DoctrineAnnotationDecorator.php

		-
			message: "#^Comparison operation \"\\>\" between int\\<2, max\\> and 1 is always true\\.$#"
			count: 1
			path: repo/packages/NodeTypeResolver/NodeTypeResolver/TraitTypeResolver.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: repo/packages/NodeTypeResolver/NodeTypeResolver/TraitTypeResolver.php

		-
			message: "#^Parameter 2 should use \"PHPStan\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionMethod\" type as the only type passed to this method$#"
			count: 2
			path: repo/rules/CodingStyle/Rector/ClassMethod/MakeInheritedMethodVisibilitySameAsParentRector.php

		-
			message: "#^Parameter 2 should use \"PHPStan\\\\Reflection\\\\ExtendedMethodReflection\" type as the only type passed to this method$#"
			count: 1
			path: repo/rules/DeadCode/Comparator/CurrentAndParentClassMethodComparator.php

		-
			message: "#^Class PHPStan\\\\Reflection\\\\Php\\\\PhpParameterReflection constructor invoked with 3 parameters, 4 required\\.$#"
			count: 1
			path: repo/rules/DowngradePhp80/NodeAnalyzer/NamedToUnnamedArgs.php

		-
			message: "#^Parameter \\#1 \\$initializerExprTypeResolver of class PHPStan\\\\Reflection\\\\Php\\\\PhpParameterReflection constructor expects PHPStan\\\\Reflection\\\\InitializerExprTypeResolver, ReflectionParameter given\\.$#"
			count: 1
			path: repo/rules/DowngradePhp80/NodeAnalyzer/NamedToUnnamedArgs.php

		-
			message: "#^Parameter \\#2 \\$reflection of class PHPStan\\\\Reflection\\\\Php\\\\PhpParameterReflection constructor expects PHPStan\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionParameter, null given\\.$#"
			count: 1
			path: repo/rules/DowngradePhp80/NodeAnalyzer/NamedToUnnamedArgs.php

		-
			message: "#^Instanceof between PhpParser\\\\Node\\\\Stmt\\\\Case_ and PhpParser\\\\Node\\\\Stmt\\\\Case_ will always evaluate to true\\.$#"
			count: 1
			path: repo/rules/DowngradePhp80/Rector/Expression/DowngradeMatchToSwitchRector.php

		-
			message: "#^Parameter \\#2 \\$appendingArgs of method Rector\\\\Core\\\\Rector\\\\AbstractRector\\:\\:appendArgs\\(\\) expects array\\<PhpParser\\\\Node\\\\Arg\\>, array\\<mixed, PhpParser\\\\Node\\\\Arg\\|PhpParser\\\\Node\\\\VariadicPlaceholder\\> given\\.$#"
			count: 1
			path: repo/rules/Php70/Rector/FuncCall/CallUserMethodRector.php

		-
			message: "#^Casting to int something that's already int\\<0, max\\>\\.$#"
			count: 1
			path: repo/rules/Php71/Rector/FuncCall/RemoveExtraParametersRector.php

		-
			message: "#^Property PhpParser\\\\Node\\\\Expr\\\\MethodCall\\:\\:\\$args \\(array\\<PhpParser\\\\Node\\\\Arg\\|PhpParser\\\\Node\\\\VariadicPlaceholder\\>\\) does not accept array\\<PhpParser\\\\Node\\\\Arg\\|PhpParser\\\\Node\\\\Param\\>\\.$#"
			count: 1
			path: repo/rules/Php80/Rector/ClassMethod/OptionalParametersAfterRequiredRector.php

		-
			message: "#^Property PhpParser\\\\Node\\\\Expr\\\\New_\\:\\:\\$args \\(array\\<PhpParser\\\\Node\\\\Arg\\|PhpParser\\\\Node\\\\VariadicPlaceholder\\>\\) does not accept array\\<PhpParser\\\\Node\\\\Arg\\|PhpParser\\\\Node\\\\Param\\>\\.$#"
			count: 1
			path: repo/rules/Php80/Rector/ClassMethod/OptionalParametersAfterRequiredRector.php

		-
			message: "#^Unable to resolve the template type T in call to method Rector\\\\Php80\\\\NodeResolver\\\\ArgumentSorter\\:\\:sortArgsByExpectedParamOrder\\(\\)$#"
			count: 2
			path: repo/rules/Php80/Rector/ClassMethod/OptionalParametersAfterRequiredRector.php

		-
			message: "#^Method Rector\\\\Core\\\\PhpParser\\\\Node\\\\BetterNodeFinder\\:\\:findParentType\\(\\) should return \\(T of PhpParser\\\\Node\\)\\|null but returns class\\-string\\<T of PhpParser\\\\Node\\>\\|T of PhpParser\\\\Node\\.$#"
			count: 1
			path: repo/src/PhpParser/Node/BetterNodeFinder.php

		-
			message: "#^Parameter \\#4 \\$namespace of static method PHPStan\\\\BetterReflection\\\\Reflection\\\\ReflectionClass\\:\\:createFromNode\\(\\) expects string\\|null, PhpParser\\\\Node\\\\Stmt\\\\Namespace_ given\\.$#"
			count: 1
			path: repo/src/StaticReflection/SourceLocator/ParentAttributeSourceLocator.php

		-
			message: "#^Strict comparison using \\=\\=\\= between non\\-empty\\-string and '' will always evaluate to false\\.$#"
			count: 1
			path: repo/src/Stubs/PHPStanStubLoader.php

