includes:
	- repo/phpstan.neon
	- rector-baseline.neon

parameters:
	featureToggles:
		apiRules: true
	level: 8
	ignoreErrors:
		-
			message: '#^Cannot cast PhpParser\\Node\\Expr\|PhpParser\\Node\\Name to string\.$#'
			path: repo/rules/php71/src/IsArrayAndDualCheckToAble.php
		-
			message: '#^Cannot cast \(array<string>&nonEmpty\)\|string\|true to string\.$#'
			path: repo/src/Configuration/Configuration.php
		-
			message: '#Class with base "PhpVersionFactory" name is already used in "PHPStan\\Php\\PhpVersionFactory", "Rector\\Core\\Util\\PhpVersionFactory"\. Use unique name to make classes easy to recognize#'
			path: repo/src/Util/PhpVersionFactory.php
