parameters:
	ignoreErrors:
		-
			message: "#^Property PhpParser\\\\Node\\\\Scalar\\\\DNumber\\:\\:\\$value \\(float\\|int\\) does not accept string\\.$#"
			count: 1
			path: repo/rules/DowngradePhp74/Rector/LNumber/DowngradeNumericLiteralSeparatorRector.php

		-
			message: "#^Property PhpParser\\\\Node\\\\Scalar\\\\DNumber\\:\\:\\$value \\(float\\|int\\) does not accept string\\.$#"
			count: 1
			path: repo/rules/Php74/Rector/LNumber/AddLiteralSeparatorToNumberRector.php

