parameters:
	ignoreErrors:
		-
			message: "#^Doing instanceof PHPStan\\\\Type\\\\ArrayType is error\\-prone and deprecated\\. Use Type\\:\\:isArray\\(\\) or Type\\:\\:getArrays\\(\\) instead\\.$#"
			count: 1
			path: repo/src/Helper/EnumTypeHelper.php

		-
			message: "#^Doing instanceof PHPStan\\\\Type\\\\IntersectionType is error\\-prone and deprecated\\.$#"
			count: 1
			path: repo/src/Helper/EnumTypeHelper.php

		-
			message: "#^Doing instanceof PHPStan\\\\Type\\\\TypeWithClassName is error\\-prone and deprecated\\. Use Type\\:\\:getObjectClassNames\\(\\) or Type\\:\\:getObjectClassReflections\\(\\) instead\\.$#"
			count: 1
			path: repo/src/Helper/EnumTypeHelper.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\AllowComparingOnlyComparableTypesRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\\\Expr\\\\BinaryOp\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/AllowComparingOnlyComparableTypesRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\AllowNamedArgumentOnlyInAttributesRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\\\Arg\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/AllowNamedArgumentOnlyInAttributesRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\BackedEnumGenericsRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PHPStan\\\\Node\\\\InClassNode\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/BackedEnumGenericsRule.php

		-
			message: "#^Doing instanceof PHPStan\\\\Type\\\\Constant\\\\ConstantStringType is error\\-prone and deprecated\\. Use Type\\:\\:getConstantStrings\\(\\) instead\\.$#"
			count: 3
			path: repo/src/Rule/ForbidCustomFunctionsRule.php

		-
			message: "#^Doing instanceof PHPStan\\\\Type\\\\Generic\\\\GenericClassStringType is error\\-prone and deprecated\\. Use Type\\:\\:isClassStringType\\(\\) and Type\\:\\:getClassStringObjectType\\(\\) instead\\.$#"
			count: 1
			path: repo/src/Rule/ForbidCustomFunctionsRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\ForbidCustomFunctionsRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\\\Expr\\\\CallLike\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/ForbidCustomFunctionsRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\ForbidEnumInFunctionArgumentsRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\\\Expr\\\\FuncCall\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/ForbidEnumInFunctionArgumentsRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\ForbidFetchOnMixedRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\\\Expr\\\\PropertyFetch\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/ForbidFetchOnMixedRule.php

		-
			message: "#^Return type \\(array\\<PHPStan\\\\Rules\\\\RuleError\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\ForbidMatchDefaultArmForEnumsRule\\:\\:processNode\\(\\) should be covariant with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PHPStan\\\\Node\\\\MatchExpressionNode\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/ForbidMatchDefaultArmForEnumsRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\ForbidMethodCallOnMixedRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\\\Expr\\\\MethodCall\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/ForbidMethodCallOnMixedRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\ForbidReturnInConstructorRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\\\Stmt\\\\Return_\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/ForbidReturnInConstructorRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\ForbidUnsetClassFieldRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\\\Stmt\\\\Unset_\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/ForbidUnsetClassFieldRule.php

		-
			message: "#^Doing instanceof PHPStan\\\\Type\\\\TypeWithClassName is error\\-prone and deprecated\\. Use Type\\:\\:getObjectClassNames\\(\\) or Type\\:\\:getObjectClassReflections\\(\\) instead\\.$#"
			count: 1
			path: repo/src/Rule/ForbidUnusedExceptionRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\ForbidUnusedExceptionRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\\\Expr\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/ForbidUnusedExceptionRule.php

		-
			message: "#^Doing instanceof PHPStan\\\\Type\\\\VoidType is error\\-prone and deprecated\\. Use Type\\:\\:isVoid\\(\\) instead\\.$#"
			count: 1
			path: repo/src/Rule/ForbidUselessNullableReturnRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\ForbidUselessNullableReturnRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PHPStan\\\\Node\\\\MethodReturnStatementsNode\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/ForbidUselessNullableReturnRule.php

		-
			message: "#^Return type \\(array\\<PHPStan\\\\Rules\\\\RuleError\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\RequirePreviousExceptionPassRule\\:\\:processNode\\(\\) should be covariant with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\\\Stmt\\\\TryCatch\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/RequirePreviousExceptionPassRule.php

		-
			message: "#^Return type \\(array\\<PHPStan\\\\Rules\\\\RuleError\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\UselessPrivatePropertyDefaultValueRule\\:\\:processNode\\(\\) should be covariant with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PHPStan\\\\Node\\\\ClassPropertiesNode\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/UselessPrivatePropertyDefaultValueRule.php

		-
			message: "#^Return type \\(array\\<PHPStan\\\\Rules\\\\RuleError\\>\\) of method ShipMonk\\\\PHPStan\\\\Rule\\\\UselessPrivatePropertyNullabilityRule\\:\\:processNode\\(\\) should be covariant with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PHPStan\\\\Node\\\\ClassPropertiesNode\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Rule/UselessPrivatePropertyNullabilityRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method class@anonymous/tests/Rule/AllRulesConfigTest\\.php\\:22\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/tests/Rule/AllRulesConfigTest.php
