parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between int\|string and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: repo/packages/migrations/src/Component/Doctrine/Migrations/MigrationsLockComparator.php
