parameters:
	ignoreErrors:
		-
			message: '#^Function pg_query_split not found\.$#'
			identifier: function.notFound
			count: 1
			path: repo/packages/mcp/src/Component/Database/Query/PostgresQueryParser.php
