includes:
    - repo/project-base/app/phpstan.neon
    - shopsys-project-base-baseline.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - repo/project-base/app/tests/App/Test/Codeception/AcceptanceTester.php
