parameters:
	ignoreErrors:
		-
			rawMessage: 'Call to an undefined method Predis\ClientInterface|Redis|RedisArray|RedisCluster|Relay\Relay::get().'
			identifier: method.notFound
			count: 1
			path: repo/src/Core/Checkout/Cart/Command/CartMigrateCommand.php

		-
			rawMessage: 'Call to an undefined method Predis\ClientInterface|Redis|RedisArray|RedisCluster|Relay\Relay::set().'
			identifier: method.notFound
			count: 1
			path: repo/src/Core/Checkout/Cart/Command/CartMigrateCommand.php

		-
			rawMessage: 'Call to an undefined method Predis\ClientInterface|Redis|RedisArray|RedisCluster|Relay\Relay::get().'
			identifier: method.notFound
			count: 1
			path: repo/src/Core/Checkout/Cart/RedisCartPersister.php

		-
			rawMessage: 'Call to an undefined method Predis\ClientInterface|Redis|RedisArray|RedisCluster|Relay\Relay::set().'
			identifier: method.notFound
			count: 1
			path: repo/src/Core/Checkout/Cart/RedisCartPersister.php

		-
			rawMessage: Assign to $group overwrites the last element from array.
			identifier: assign.byRefForeachExpr
			count: 2
			path: repo/src/Core/Content/Test/Product/ProductBuilder.php

		-
			rawMessage: '''
				Call to deprecated method __construct() of class Google\Cloud\Storage\StorageClient:
				This option is being deprecated because of a potential security risk.
				          This option does not validate the credential configuration. The security
				          risk occurs when a credential configuration is accepted from a source
				          that is not under your control and used without validation on your side.
				          If you know that you will be loading credential configurations of a
				          specific type, it is recommended to create the credentials directly and
				          configure them using the `credentialsFetcher` option instead.
				          ```
				          use Google\Auth\Credentials\ServiceAccountCredentials;
				          $credentialsFetcher = new ServiceAccountCredentials($scopes, $json);
				          $creds = new StorageClient(['credentialsFetcher' => $creds]);
				          ```
				          This will ensure that an unexpected credential type with potential for
				          malicious intent is not loaded unintentionally. You might still have to do
				          validation for certain credential types.
				          If you are loading your credential configuration from an untrusted source and have
				          not mitigated the risks (e.g. by validating the configuration yourself), make
				          these changes as soon as possible to prevent security risks to your environment.
				          Regardless of the method used, it is always your responsibility to validate
				          configurations received from external sources.
			'''
			identifier: method.deprecated
			count: 1
			path: repo/src/Core/Framework/Adapter/Filesystem/Adapter/GoogleStorageFactory.php

		-
			rawMessage: Assign to $operation overwrites the last element from array.
			identifier: assign.byRefForeachExpr
			count: 2
			path: repo/src/Core/Framework/Api/ApiDefinition/Generator/StoreApiGenerator.php

		-
			rawMessage: 'Property OpenApi\Annotations\Operation::$parameters (array<OpenApi\Annotations\Parameter>) does not accept array<array<string, string>|OpenApi\Annotations\Parameter>.'
			identifier: assign.propertyType
			count: 1
			path: repo/src/Core/Framework/Api/ApiDefinition/Generator/StoreApiGenerator.php

		-
			rawMessage: Assign to $value overwrites the last element from array.
			identifier: assign.byRefForeachExpr
			count: 3
			path: repo/src/Core/Framework/Api/Sync/SyncFkResolver.php

		-
			rawMessage: Private constructor cannot be enforced as consistent for child classes.
			identifier: consistentConstructor.private
			count: 1
			path: repo/src/Core/Framework/App/Manifest/Xml/XmlElement.php

		-
			rawMessage: 'Method Shopware\Core\Framework\DataAbstractionLayer\EntityCollection::getExpectedClass() should return class-string<TElement of Shopware\Core\Framework\DataAbstractionLayer\Entity> but returns string.'
			identifier: return.type
			count: 1
			path: repo/src/Core/Framework/DataAbstractionLayer/EntityCollection.php

		-
			rawMessage: 'Call to an undefined method Predis\ClientInterface|Redis|RedisArray|RedisCluster|Relay\Relay::decr().'
			identifier: method.notFound
			count: 1
			path: repo/src/Core/Framework/Increment/RedisIncrementer.php

		-
			rawMessage: 'Call to an undefined method Predis\ClientInterface|Redis|RedisArray|RedisCluster|Relay\Relay::incr().'
			identifier: method.notFound
			count: 1
			path: repo/src/Core/Framework/Increment/RedisIncrementer.php

		-
			rawMessage: 'Call to an undefined method Predis\ClientInterface|Redis|RedisArray|RedisCluster|Relay\Relay::set().'
			identifier: method.notFound
			count: 1
			path: repo/src/Core/Framework/Increment/RedisIncrementer.php

		-
			rawMessage: 'Property Shopware\Core\Framework\Test\Webhook\_fixtures\BusinessEvents\ScalarBusinessEvent::$bool (bool) is never assigned false so the property type can be changed to true.'
			identifier: property.tooWideBool
			count: 1
			path: repo/src/Core/Framework/Test/Webhook/_fixtures/BusinessEvents/ScalarBusinessEvent.php

		-
			rawMessage: Assign to $field overwrites the last element from array.
			identifier: assign.byRefForeachExpr
			count: 2
			path: repo/src/Core/Migration/V6_4/Migration1614249488ChangeProductSortingsToCheapestPrice.php

		-
			rawMessage: Assign to $mapping overwrites the last element from array.
			identifier: assign.byRefForeachExpr
			count: 2
			path: repo/src/Core/Migration/V6_4/Migration1631625055AddPositionToImportExportMappings.php

		-
			rawMessage: 'Method Shopware\Core\Profiling\Doctrine\ConnectionProfiler::getGroupedQueries() should return array<string, array<int, array{sql: string, executionMS: float, types: array<int|string, Doctrine\DBAL\ParameterType|int>, params: Symfony\Component\VarDumper\Cloner\Data, runnable: bool, explainable: bool, backtrace?: array<array{function?: string, line: int, file: string, class?: string, object?: object, type: string}>, count: int, ...}>> but returns array<string, list<array{executionPercent: float}|array{sql: string, executionMS: float, types: array<int|string, Doctrine\DBAL\ParameterType|int>, params: Symfony\Component\VarDumper\Cloner\Data, runnable: bool, explainable: bool, backtrace?: array<array{function?: string, line: int, file: string, class?: string, object?: object, type: string}>, count: int<1, max>, ...}>>.'
			identifier: return.type
			count: 1
			path: repo/src/Core/Profiling/Doctrine/ConnectionProfiler.php

		-
			rawMessage: 'Property Shopware\Core\Profiling\Doctrine\ConnectionProfiler::$groupedQueries (array<string, array<int, array{sql: string, executionMS: float, types: array<int|string, Doctrine\DBAL\ParameterType|int>, params: Symfony\Component\VarDumper\Cloner\Data, runnable: bool, explainable: bool, backtrace?: array<array{function?: string, line: int, file: string, class?: string, object?: object, type: string}>, count: int, ...}>>|null) does not accept non-empty-array<string, array<int, array{executionPercent: float}|array{sql: string, executionMS: float, types: array<int|string, Doctrine\DBAL\ParameterType|int>, params: Symfony\Component\VarDumper\Cloner\Data, runnable: bool, explainable: bool, backtrace?: array<array{function?: string, line: int, file: string, class?: string, object?: object, type: string}>, count: int, ...}>>.'
			identifier: assign.propertyType
			count: 1
			path: repo/src/Core/Profiling/Doctrine/ConnectionProfiler.php

		-
			rawMessage: 'Call to an undefined method Predis\ClientInterface|Redis|RedisArray|RedisCluster|Relay\Relay::get().'
			identifier: method.notFound
			count: 2
			path: repo/src/Core/System/NumberRange/ValueGenerator/Pattern/IncrementStorage/IncrementRedisStorage.php

		-
			rawMessage: 'Call to an undefined method Predis\ClientInterface|Redis|RedisArray|RedisCluster|Relay\Relay::incr().'
			identifier: method.notFound
			count: 1
			path: repo/src/Core/System/NumberRange/ValueGenerator/Pattern/IncrementStorage/IncrementRedisStorage.php

		-
			rawMessage: 'Call to an undefined method Predis\ClientInterface|Redis|RedisArray|RedisCluster|Relay\Relay::set().'
			identifier: method.notFound
			count: 1
			path: repo/src/Core/System/NumberRange/ValueGenerator/Pattern/IncrementStorage/IncrementRedisStorage.php

		-
			rawMessage: 'Parameter &$mapping by-ref type of method Shopware\Core\System\SalesChannel\Validation\SalesChannelValidator::handleSalesChannelLanguageMapping() expects array<string, array{current_default: string, new_default: string, inserts: list<string>, updateId: string, deletions: list<string>, state: list<string>}>, non-empty-array<string, array{current_default: string, new_default: string, inserts: list<string>, updateId: string, deletions: list<string>, state: array{}}|array{state: array{}, deletions?: non-empty-list<string>}> given.'
			identifier: parameterByRef.type
			count: 1
			path: repo/src/Core/System/SalesChannel/Validation/SalesChannelValidator.php

		-
			rawMessage: 'Parameter &$mapping by-ref type of method Shopware\Core\System\SalesChannel\Validation\SalesChannelValidator::handleSalesChannelLanguageMapping() expects array<string, array{current_default: string, new_default: string, inserts: list<string>, updateId: string, deletions: list<string>, state: list<string>}>, non-empty-array<string, array{current_default: string, new_default: string, inserts: list<string>, updateId: string, deletions: list<string>, state: array{}}|array{state: array{}, inserts?: non-empty-list<string>}> given.'
			identifier: parameterByRef.type
			count: 1
			path: repo/src/Core/System/SalesChannel/Validation/SalesChannelValidator.php

		-
			rawMessage: 'Parameter &$mapping by-ref type of method Shopware\Core\System\SalesChannel\Validation\SalesChannelValidator::handleSalesChannelMapping() expects array<string, array{current_default: string, new_default: string, inserts: list<string>, updateId: string, deletions: list<string>, state: list<string>}>, non-empty-array<string, array{current_default: string, new_default: non-falsy-string, inserts: array{}, updateId: string, deletions: list<string>, state: list<string>}|array{new_default: non-falsy-string, inserts: array{}, state?: array{}}> given.'
			identifier: parameterByRef.type
			count: 1
			path: repo/src/Core/System/SalesChannel/Validation/SalesChannelValidator.php

		-
			rawMessage: 'Parameter &$mapping by-ref type of method Shopware\Core\System\SalesChannel\Validation\SalesChannelValidator::handleSalesChannelMapping() expects array<string, array{current_default: string, new_default: string, inserts: list<string>, updateId: string, deletions: list<string>, state: list<string>}>, non-empty-array<string, array{current_default: string, new_default: non-falsy-string, inserts: list<string>, updateId: string, deletions: list<string>, state: list<string>}|array{new_default: non-falsy-string, inserts?: array{}}> given.'
			identifier: parameterByRef.type
			count: 1
			path: repo/src/Core/System/SalesChannel/Validation/SalesChannelValidator.php

		-
			rawMessage: 'Method Shopware\Core\System\StateMachine\Aggregation\StateMachineState\StateMachineStateTranslationCollection::getExpectedClass() should return class-string<Shopware\Core\System\StateMachine\Aggregation\StateMachineState\StateMachineStateTranslationEntity> but returns string.'
			identifier: return.type
			count: 1
			path: repo/src/Core/System/StateMachine/Aggregation/StateMachineState/StateMachineStateTranslationCollection.php

		-
			rawMessage: Assign to $element overwrites the last element from array.
			identifier: assign.byRefForeachExpr
			count: 2
			path: repo/src/Core/System/SystemConfig/Service/ConfigurationService.php

		-
			rawMessage: 'Method Shopware\Core\System\SystemConfig\Util\ConfigReader::getCardDefinitions() should return array<array{title: array<string, string|null>, name: string|null, elements: array<int, array<string, mixed>>, flag?: string|null}> but returns array<int, array{flag: string}|array{title: array<string, string|null>, name: string|null, elements: array<int, array<string, mixed>>, flag?: string}>.'
			identifier: return.type
			count: 1
			path: repo/src/Core/System/SystemConfig/Util/ConfigReader.php

		-
			rawMessage: 'Method Shopware\Core\Test\Stub\Redis\RedisStub::doSet() never returns false so the return type can be changed to true.'
			identifier: return.tooWideBool
			count: 1
			path: repo/src/Core/Test/Stub/Redis/RedisStub.php

		-
			rawMessage: 'Cannot access offset non-falsy-string on 1|non-empty-array<non-falsy-string, non-falsy-string|null>|string.'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: repo/src/Elasticsearch/Framework/ElasticsearchFieldMapper.php

		-
			rawMessage: 'Method Shopware\Elasticsearch\Framework\ElasticsearchFieldMapper::toManyAssociations() should return array<int, array<string, array<string, string>>> but returns list<array<string, array<string, string|null>|int|string>>.'
			identifier: return.type
			count: 1
			path: repo/src/Elasticsearch/Framework/ElasticsearchFieldMapper.php

		-
			rawMessage: 'Method Shopware\Tests\Integration\Core\Content\Product\SalesChannel\Detail\ProductConfiguratorOrderTest::ashuffle() never returns false so the return type can be changed to true.'
			identifier: return.tooWideBool
			count: 1
			path: repo/tests/integration/Core/Content/Product/SalesChannel/Detail/ProductConfiguratorOrderTest.php

		-
			rawMessage: 'Call to an undefined method Predis\ClientInterface|Redis|RedisArray|RedisCluster|Relay\Relay::get().'
			identifier: method.notFound
			count: 2
			path: repo/tests/integration/Core/Framework/Adapter/Cache/RedisConnectionFactoryTest.php

		-
			rawMessage: 'Call to an undefined method Predis\ClientInterface|Redis|RedisArray|RedisCluster|Relay\Relay::set().'
			identifier: method.notFound
			count: 2
			path: repo/tests/integration/Core/Framework/Adapter/Cache/RedisConnectionFactoryTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertNotEmpty() with non-empty-list<mixed> and ''Event with name …'' will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: repo/tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php

		-
			rawMessage: 'Parameter #1 $data of static method Composer\InstalledVersions::reload() expects array{root: array{name: string, pretty_version: string, version: string, reference: string|null, type: string, install_path: string, aliases: array<string>, dev: bool}, versions: array<string, array{pretty_version?: string, version?: string, reference?: string|null, type?: string, install_path?: string, aliases?: array<string>, dev_requirement: bool, replaced?: array<string>, ...}>}, array{root?: array{name: string, pretty_version: string, version: string, reference: string|null, type: string, install_path: string, aliases: array<string>, dev: bool}, versions: array{}} given.'
			identifier: argument.type
			count: 1
			path: repo/tests/integration/Core/Framework/Plugin/KernelPluginLoader/ComposerPluginLoaderTest.php

		-
			rawMessage: 'Offset int|string might not exist on array<string, mixed>.'
			identifier: offsetAccess.notFound
			count: 1
			path: repo/tests/unit/Administration/Framework/Twig/ViteFileAccessorDecoratorTest.php

		-
			rawMessage: 'Offset non-falsy-string|null might not exist on array<non-falsy-string, array<array{and_logic: string, field: string, tokenize: int, ranking: float}>>.'
			identifier: offsetAccess.notFound
			count: 1
			path: repo/tests/unit/Core/Framework/DataAbstractionLayer/Search/SearchConfigLoaderTest.php

		-
			rawMessage: 'Parameter #2 $jwks of method Shopware\Tests\Unit\Core\Framework\JWT\Constraints\HasValidRSAJWKSignatureTest::validate() expects array{keys: array<int, array{kty: string, kid: string, use: string, alg: string, n: string, e: string}>}|null, array{keys: non-empty-array<int, array{e: ''ABCD%%EF''}|array{kty: string, kid: string, use: string, alg: string, n: string, e: string}>} given.'
			identifier: argument.type
			count: 1
			path: repo/tests/unit/Core/Framework/JWT/Constraints/HasValidRSAJWKSignatureTest.php

		-
			rawMessage: 'Parameter #2 $jwks of method Shopware\Tests\Unit\Core\Framework\JWT\Constraints\HasValidRSAJWKSignatureTest::validate() expects array{keys: array<int, array{kty: string, kid: string, use: string, alg: string, n: string, e: string}>}|null, array{keys: non-empty-array<int, array{kty: ''ABCDEF''}|array{kty: string, kid: string, use: string, alg: string, n: string, e: string}>} given.'
			identifier: argument.type
			count: 1
			path: repo/tests/unit/Core/Framework/JWT/Constraints/HasValidRSAJWKSignatureTest.php

		-
			rawMessage: 'Parameter #2 $jwks of method Shopware\Tests\Unit\Core\Framework\JWT\Constraints\HasValidRSAJWKSignatureTest::validate() expects array{keys: array<int, array{kty: string, kid: string, use: string, alg: string, n: string, e: string}>}|null, array{keys: non-empty-array<int, array{kty: string, kid: string, use: string, alg: string, n: string, e: string}|array{n: ''ABCD%%EF''}>} given.'
			identifier: argument.type
			count: 1
			path: repo/tests/unit/Core/Framework/JWT/Constraints/HasValidRSAJWKSignatureTest.php

		-
			rawMessage: 'Method Shopware\Tests\Unit\Core\Framework\Test\TestCaseHelper\FakeClassForHelper::myProtectedMethod() never returns false so the return type can be changed to true.'
			identifier: return.tooWideBool
			count: 1
			path: repo/tests/unit/Core/Framework/Test/TestCaseHelper/ReflectionHelperTest.php
