parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'key' on array\\{key\\: string, mappedKey\\: string\\}\\|Shopware\\\\Core\\\\Content\\\\ImportExport\\\\Processing\\\\Mapping\\\\Mapping\\.$#"
			count: 1
			path: repo/src/Core/Content/ImportExport/Service/MappingService.php

		-
			message: "#^Offset 'uri' might not exist on array\\{timed_out\\: bool, blocked\\: bool, eof\\: bool, unread_bytes\\: int, stream_type\\: string, wrapper_type\\: string, wrapper_data\\: mixed, mode\\: string, \\.\\.\\.\\}\\.$#"
			count: 1
			path: repo/src/Core/Content/Media/File/DownloadResponseGenerator.php

		-
			message: "#^Parameter \\#1 \\$width of function imagecreatetruecolor expects int\\<1, max\\>, int given\\.$#"
			count: 1
			path: repo/src/Core/Content/Media/Thumbnail/ThumbnailService.php

		-
			message: "#^Parameter \\#2 \\$height of function imagecreatetruecolor expects int\\<1, max\\>, int given\\.$#"
			count: 1
			path: repo/src/Core/Content/Media/Thumbnail/ThumbnailService.php

		-
			message: "#^Offset 1 might not exist on array\\{0\\?\\: string, 1\\?\\: string\\}\\.$#"
			count: 2
			path: repo/src/Core/Content/Product/Aggregate/ProductSearchConfigField/ProductSearchConfigFieldExceptionHandler.php

		-
			message: "#^Offset 1 might not exist on array\\{0\\?\\: string, 1\\?\\: string\\}\\.$#"
			count: 2
			path: repo/src/Core/Content/Product/DataAbstractionLayer/ProductExceptionHandler.php

		-
			message: "#^Offset 1 might not exist on array\\{0\\?\\: string, 1\\?\\: string\\}\\.$#"
			count: 1
			path: repo/src/Core/Content/Product/SalesChannel/Sorting/ProductSortingExceptionHandler.php

		-
			message: "#^Offset 1 might not exist on array\\{0\\?\\: string, 1\\?\\: string\\}\\.$#"
			count: 1
			path: repo/src/Core/Content/ProductExport/DataAbstractionLayer/ProductExportExceptionHandler.php

		-
			message: "#^Parameter \\#1 \\$matches of method Shopware\\\\Core\\\\Content\\\\Seo\\\\SeoUrlPlaceholderHandler\\:\\:createDefaultMapping\\(\\) expects array\\<string, string\\>, array\\<int, string\\> given\\.$#"
			count: 1
			path: repo/src/Core/Content/Seo/SeoUrlPlaceholderHandler.php

		-
			message: "#^Method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\AbstractClassUsageRule\\:\\:processNode\\(\\) should return list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\> but returns list\\<non\\-falsy\\-string\\>\\.$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/AbstractClassUsageRule.php

		-
			message: "#^Method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\DecorationPatternRule\\:\\:processNode\\(\\) should return list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\> but returns array\\<string\\>\\.$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DecorationPatternRule.php

		-
			message: "#^Method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\DecorationPatternRule\\:\\:processNode\\(\\) should return list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\> but returns list\\<non\\-falsy\\-string\\>\\.$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DecorationPatternRule.php

		-
			message: "#^Method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\DomainExceptionRule\\:\\:processNode\\(\\) should return list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\> but returns array\\{PHPStan\\\\Rules\\\\RuleError\\}\\.$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DomainExceptionRule.php

		-
			message: "#^Method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\DomainExceptionRule\\:\\:processNode\\(\\) should return list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\> but returns list\\<PHPStan\\\\Rules\\\\RuleError\\>\\.$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DomainExceptionRule.php

		-
			message: "#^Method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\NoAfterStatementRule\\:\\:processNode\\(\\) should return list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\> but returns array\\{'Usage of ALTER…'\\}\\.$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoAfterStatementRule.php

		-
			message: "#^Method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\NoFlowStoreFunctionRule\\:\\:processNode\\(\\) should return list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\> but returns array\\{PHPStan\\\\Rules\\\\RuleError\\}\\.$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoFlowStoreFunctionRule.php

		-
			message: "#^Method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\NoNewRequestInStorefrontRule\\:\\:processNode\\(\\) should return list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\> but returns array\\{'Do not create new…'\\}\\.$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoNewRequestInStorefrontRule.php

		-
			message: "#^Method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\RouteScopeRule\\:\\:processNode\\(\\) should return list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\> but returns list\\<PHPStan\\\\Rules\\\\LineRuleError\\>\\.$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/RouteScopeRule.php

		-
			message: "#^Method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\ShopwareNamespaceStyleRule\\:\\:processNode\\(\\) should return list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\> but returns array\\{PHPStan\\\\Rules\\\\LineRuleError\\}\\.$#"
			count: 3
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/ShopwareNamespaceStyleRule.php

		-
			message: "#^Method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\Tests\\\\MockingSimpleObjectsNotAllowedRule\\:\\:processNode\\(\\) should return list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\> but returns array\\{non\\-falsy\\-string\\}\\.$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Tests/MockingSimpleObjectsNotAllowedRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\Tests\\\\PHPUnitClassAttributesOverAnnotationsRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PHPStan\\\\Node\\\\InClassNode\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Tests/PHPUnitClassAttributesOverAnnotationsRule.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\Tests\\\\PHPUnitMethodAttributesOverAnnotationsRule\\:\\:processNode\\(\\) should be compatible with return type \\(list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\>\\) of method PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\\\Stmt\\\\ClassMethod\\>\\:\\:processNode\\(\\)$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Tests/PHPUnitMethodAttributesOverAnnotationsRule.php

		-
			message: "#^Method Shopware\\\\Core\\\\DevOps\\\\StaticAnalyze\\\\PHPStan\\\\Rules\\\\UseCLIContextRule\\:\\:processNode\\(\\) should return list\\<PHPStan\\\\Rules\\\\IdentifierRuleError\\> but returns array\\{PHPStan\\\\Rules\\\\LineRuleError\\}\\.$#"
			count: 1
			path: repo/src/Core/DevOps/StaticAnalyze/PHPStan/Rules/UseCLIContextRule.php

		-
			message: "#^Call to function array_key_exists\\(\\) with 'technicalName' and array\\{0\\: string, technicalName\\: string, 1\\: string\\} will always evaluate to true\\.$#"
			count: 2
			path: repo/src/Core/Framework/DataAbstractionLayer/TechnicalNameExceptionHandler.php

		-
			message: "#^Call to function is_string\\(\\) with string will always evaluate to true\\.$#"
			count: 2
			path: repo/src/Core/Framework/DataAbstractionLayer/TechnicalNameExceptionHandler.php

		-
			message: "#^Parameter \\#1 \\$array of function array_unique expects an array of values castable to string, array\\<array\\<string, string\\>\\|string\\> given\\.$#"
			count: 1
			path: repo/src/Core/Framework/DataAbstractionLayer/Write/EntityWriteResultFactory.php

		-
			message: "#^Offset 'timestamp' might not exist on array\\{0\\?\\: string, name\\?\\: non\\-empty\\-string, 1\\?\\: non\\-empty\\-string, timestamp\\?\\: numeric\\-string, 2\\?\\: numeric\\-string\\}\\.$#"
			count: 1
			path: repo/src/Core/Migration/Test/MigrationNameAndTimestampTest.php

		-
			message: "#^PHPDoc tag @var with type string is not subtype of native type \\(non\\-falsy\\-string\\|false\\)\\.$#"
			count: 1
			path: repo/tests/integration/Core/Content/ImportExport/Service/MappingServiceTest.php

		-
			message: "#^Offset 'uri' might not exist on array\\{timed_out\\: bool, blocked\\: bool, eof\\: bool, unread_bytes\\: int, stream_type\\: string, wrapper_type\\: string, wrapper_data\\: mixed, mode\\: string, \\.\\.\\.\\}\\.$#"
			count: 1
			path: repo/tests/unit/Core/Content/Media/File/FileSaverTest.php

		-
			message: "#^Offset 'uri' might not exist on array\\{timed_out\\: bool, blocked\\: bool, eof\\: bool, unread_bytes\\: int, stream_type\\: string, wrapper_type\\: string, wrapper_data\\: mixed, mode\\: string, \\.\\.\\.\\}\\.$#"
			count: 2
			path: repo/tests/unit/Core/Framework/Plugin/Util/AssetServiceTest.php

		-
			message: "#^Cannot access offset 'source' on array\\|bool\\|float\\|int\\|stdClass\\|string\\.$#"
			count: 2
			path: repo/tests/unit/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParserTest.php
