parameters:
	ignoreErrors:
		-
			message: "#^Property PHP_CodeSniffer\\\\Ruleset\\:\\:\\$sniffs \\(array\\<string, PHP_CodeSniffer\\\\Sniffs\\\\Sniff\\>\\) does not accept array\\<string, object\\>\\.$#"
			count: 1
			path: repo/SlevomatCodingStandard/Sniffs/TestCase.php

		-
			message: "#^Unsafe call to private method SlevomatCodingStandard\\\\Sniffs\\\\TestCase\\:\\:getSniffClassName\\(\\) through static\\:\\:\\.$#"
			count: 3
			path: repo/SlevomatCodingStandard/Sniffs/TestCase.php

		-
			message: "#^Unsafe call to private method SlevomatCodingStandard\\\\Sniffs\\\\TestCase\\:\\:getSniffClassReflection\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: repo/SlevomatCodingStandard/Sniffs/TestCase.php

		-
			message: "#^Unsafe call to private method SlevomatCodingStandard\\\\Sniffs\\\\TestCase\\:\\:getSniffName\\(\\) through static\\:\\:\\.$#"
			count: 3
			path: repo/SlevomatCodingStandard/Sniffs/TestCase.php

