parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/AddressingBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/AdminBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:arrayNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/AttributeBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/ChannelBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition\:\:arrayNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/CoreBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/CoreBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/CoreBundle/Fixture/CatalogPromotionFixture.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/CoreBundle/Fixture/PromotionFixture.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:scalarNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/CoreBundle/Fixture/ShippingMethodFixture.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/CurrencyBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/CustomerBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/InventoryBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/LocaleBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: repo/src/Sylius/Bundle/OrderBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:arrayNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/PaymentBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/PaymentBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: repo/src/Sylius/Bundle/PayumBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:arrayNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/ProductBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:arrayNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/PromotionBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/ReviewBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/ShippingBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:arrayNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/ShopBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/TaxationBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:arrayNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/TaxonomyBundle/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:end\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: repo/src/Sylius/Bundle/UserBundle/DependencyInjection/Configuration.php
