# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "Extension tests"

on:
  pull_request:
  push:
    branches:
      - "master"
    paths-ignore:
      - 'issue-bot/**'
      - 'website/**'
      - 'playground-api/**'
      - 'playground-runner/**'

jobs:
  tests-extensions:
    name: "Extension Tests"

    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.1"
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"
        extension-name:
          - "phpstan-phpunit"
          - "phpstan-strict-rules"
          - "phpstan-mockery"
          - "phpstan-doctrine"
          - "phpstan-symfony"
          - "phpstan-php-parser"
          - "phpstan-deprecation-rules"
          - "phpdoc-parser"
          - "phpstan-nette"
          - "phpstan-dibi"
          - "phpstan-webmozart-assert"
          - "phpstan-beberlei-assert"
        static-reflection:
          - "true"
          - "false"
        exclude:
          - extension-name: "phpstan-phpunit"
            static-reflection: "true"
          - extension-name: "phpstan-symfony"
            php-version: "7.1"
            static-reflection: "false"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=256M
          extensions: soap

      - name: "Install dependencies"
        run: "composer update --no-interaction --no-progress --no-suggest --ignore-platform-reqs"

      - name: "Extension build"
        env:
          STATIC_REFLECTION: ${{ matrix.static-reflection }}
          PHP_VERSION: ${{ matrix.php-version }}
        run: "./e2e/test-extension.sh 'https://github.com/phpstan/${{ matrix.extension-name }}.git'"
