# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "Extension tests"

on:
  workflow_call:
    inputs:
      ref:
        description: 'phpstan/phpstan ref to checkout'
        required: true
        type: string
      phar-checksum:
        description: 'PHAR checksum from reproducible build (please rebase)'
        required: true
        type: string

jobs:
  check-phar-checksum:
    name: "Check PHAR checksum"
    runs-on: "ubuntu-latest"
    outputs:
      checksum-result: ${{ steps.checksum-difference.outputs.result }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          repository: "phpstan/phpstan"
          ref: ${{ inputs.ref }}
      - name: "Check PHAR checksum"
        id: checksum-difference
        run: |
          checksum=${{ inputs.phar-checksum }}
          if [[ $(head -n 1 .phar-checksum) != "$checksum" ]]; then
            echo "::set-output name=result::different
          else
            echo "::set-output name=result::same
          fi

  tests-extensions:
    name: "Extension Tests"

    runs-on: "ubuntu-latest"

    needs: check-phar-checksum
    if: "needs.check-phar-checksum.outputs.checksum-result == 'different'"

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
        extension-name:
          - "phpstan-phpunit bf47c49afb7dc6e897d1f3c9b61b4bd82cc4d6e6"
          - "phpstan-strict-rules a606515d75bb2f996e1488c267630a7367544480"
          - "phpstan-mockery"
          - "phpstan-doctrine dcf42b98fbeb0bca246481b3a0e8f3d1c86f9b4a"
          - "phpstan-symfony"
          - "phpstan-php-parser"
          - "phpstan-deprecation-rules 0f05c71ae0200620b68b00c32d5f6f530650a74b"
          - "phpdoc-parser"
          - "phpstan-nette"
          - "phpstan-dibi"
          - "phpstan-webmozart-assert a1dfe1fef24e8ca78b79a2f16f82d4083fcafb10"
          - "phpstan-beberlei-assert 94f5f0f59fa5744868f9830046c7d365f1ecd448"
        exclude:
          - extension-name: "phpstan-mockery"
            php-version: "7.2"
          - extension-name: "phpstan-phpunit bf47c49afb7dc6e897d1f3c9b61b4bd82cc4d6e6"
            php-version: "7.2"
          - extension-name: "phpstan-doctrine 4534559a8c08ab3648c6fa09289478780e190ae7"
            php-version: "7.2"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          repository: "phpstan/phpstan"
          ref: ${{ inputs.ref }}

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          ini-file: development
          ini-values: memory_limit=768M
          extensions: soap

      - name: "Install dependencies"
        run: "composer update --no-interaction --no-progress --ignore-platform-reqs"

      - name: "Download phpstan.phar"
        uses: actions/download-artifact@v3
        with:
          name: phar-file

      - name: "Extension build"
        env:
          PHP_VERSION: ${{ matrix.php-version }}
        run: "./e2e/test-extension.sh ${{ matrix.extension-name }}"
